{{ with .Params.descripcion }}

<section class="t-servicios-level3__description show-on-scroll">
  <div class="t-servicios-level3__wrapper o-padding o-animation-animated">
    <h2 class="t-servicios-level3__title o-font-18 o-animation-animated">
      {{ .title }}<i></i>
    </h2>
    <div class="o-col">
      <div class="o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm">
        {{ range .text }}

        <p class="t-servicios-level3__text">{{ . | safeHTML }}</p>
        {{ end }}
 {{ if .lists }}

        <ol class="t-servicios-level3__lists">
          {{ range .lists }}

          <li class="t-servicios-level3__list">{{ . | safeHTML }}</li>
          {{ end }}

        </ol>
        {{ end }}

      </div>
      <div
        class="o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm o-padding u-relative"
      >
        <img src="{{- .image | absURL -}}" alt="" />
      </div>
    </div>
  </div>
</section>
{{ end }}
 {{ with .Params.blockServices }}

<section class="t-servicios-level3__block">
  {{- partial "block-services.html" . -}}

</section>
{{ end }}
 {{ with .Params.metodologia }}

<section class="t-servicios-level3__metodology show-on-scroll">
  <div class="t-servicios-level3__wrapper o-padding  o-animation-animated">
    <h2 class="t-servicios-level3__title o-font-18 o-animation-animated">
      {{ .title }}<i></i>
    </h2>
    <div class="o-col">
      <div class="o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm">
        <ol class="t-servicios-level3__lists">
          {{ range .lists }}

          <li class="t-servicios-level3__list">{{ . | safeHTML }}</li>
          {{ end }}

        </ol>
        {{ range .text }}

        <p class="t-servicios-level3__text">{{ . | safeHTML }}</p>
        {{ end }}

      </div>
      <div class="o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm">
        <div class="t-servicios-level3__list-images">
          {{ range .images }}

          <div class="t-servicios-level3__list-image">
            <img src="{{- . | absURL -}}" alt="" />
          </div>
          {{ end }}

        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
 {{ with .Params.herramientas }}

<section class="t-servicios-level3__tools show-on-scroll">
  <div class="t-servicios-level3__wrapper o-padding  o-animation-animated">
    <h2 class="t-servicios-level3__title o-font-18 o-animation-animated">
      {{ .title }}<i></i>
    </h2>
    <div class="t-servicios-level3__list-tools o-col">
      {{ range .lists }}

      <div
        class="t-servicios-level3__list-tool o-col__cell o-col__cell--1/4@md o-col__cell--1/4@sm"
      >
        <div class="t-servicios-level3__list-tool-image">
          <img src="{{ .image | absURL }}" alt="" />
        </div>
        <h3 class="t-servicios-level3__list-tool-title">{{ .title }}</h3>
        <p class="t-servicios-level3__list-tool-text">{{ .text }}</p>
      </div>
      {{ end }}

    </div>
  </div>
</section>
{{ end }}
{{ $.Scratch.Set "cards" slice }}
{{ range where .Site.Pages "Section" "proyectos" }}
    {{ if ne .Params.title "Proyectos" }}
        {{ $url := (dict "text" "VER PROYECTO" "url" .Permalink ) }}
        {{ $.Scratch.Add "cards" (dict "type" "3" "title" .Params.title "subtitle" .Params.banner.title "logo" .Params.logo "heightClass" "c-cards__projects--small-card" "cardClass" .Params.banner.bannerClass "link" $url) }}
    {{ end }}
{{ end }}
{{ $cartas := $.Scratch.Get "cards" }}
{{ $tituloproyecto := .Params.proyectos.title }}
{{ with $cartas }}
    {{ partial "projects-block.html" (dict "cards" $cartas "title" $tituloproyecto) }}
{{ end }}

{{ with .Params.listo }}
{{- partial "block-listo.html" . -}}
{{ end }}
