{{ with .Params.blockServices }}

<section class="t-servicios-level2__block">
  {{- partial "block-services.html" . -}}

</section>
{{ end }}
 {{ with .Params.descripcion }}

<section class="t-servicios-level2__description show-on-scroll">
  <div class="t-servicios-level2__wrapper o-padding o-animation-animated">
    <h2 class="t-servicios-level2__title o-font-18 o-animation-animated">
      {{ .title }}<i></i>
    </h2>
    <div class="o-col">
      <div class="o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm">
        <ul class="t-servicios-level2__lists">
          {{ range .list }}

          <li class="t-servicios-level2__list">{{ . | safeHTML }}</li>
          {{ end }}

        </ul>
      </div>
      <div
        class="o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm o-padding u-relative"
      >
        <img src="{{- .image | absURL -}}" alt="" />
      </div>
    </div>
  </div>
</section>
{{ end }}
 {{ with .Params.servicios }}

<section class="t-servicios-level2__services show-on-scroll">
  <h2 class="t-servicios-level2__title o-font-18 o-animation-animated">
    {{ .title }}<i></i>
  </h2>
  <div class="t-servicios-level2__services-cards">
    {{ range .cards }}
 {{- partial "cards.html" . -}}
 {{ end }}

  </div>
</section>
{{ end }}
{{ $.Scratch.Set "cards" slice }}
{{ range where .Site.Pages "Section" "proyectos" }}
    {{ if ne .Params.title "Proyectos" }}
        {{ $url := (dict "text" "VER PROYECTO" "url" .Permalink ) }}
        {{ $.Scratch.Add "cards" (dict "type" "3" "title" .Params.title "subtitle" .Params.banner.title "logo" .Params.logo "heightClass" "c-cards__projects--small-card" "cardClass" .Params.banner.bannerClass "link" $url) }}
    {{ end }}
{{ end }}
{{ $cartas := $.Scratch.Get "cards" }}
{{ $tituloproyecto := .Params.proyectos.title }}
{{ with $cartas }}
    {{ partial "projects-block.html" (dict "cards" $cartas "title" $tituloproyecto) }}
{{ end }}

{{ with .Params.listo }}
{{- partial "block-listo.html" . -}}
{{ end }}
