@keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

@keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 3px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translatex(-3px);
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translatex(6px);
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes hoverFloat {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -10px, 0);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
  }
}

@keyframes bounce-horizontal {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(-1px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(3px);
  }
}
