.c-banner {
  position: relative;
  overflow-x: hidden;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #3e3a48;

  @include xs {
    padding-bottom: 30px;
  }
  &__normal-height {
    min-height: 635px;
  }
  &__mini-height {
    min-height: 325px;
    @include xs {
      min-height: 235px;
    }
  }
  &__height-we {
    min-height: 750px;
    @include xs {
      min-height: inherit;
    }
  }
  &__mask-desktop {
    position: relative;
    @include xs {
      position: static;
    }
  }
  &__mask-mobile {
    @include xs {
      position: relative;
      min-height: 340px;
      padding-top: 3px;
      display: flex;
      flex-direction: column;
    }
  }
  &__mask-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include xs {
      object-fit: cover;
      object-position: right;
    }
    &--services {
      left: inherit;
      right: 100px;
      width: auto;
      height: auto;
      bottom: -55px;
      top: inherit;
      width: 45%;
      max-width: max-content;
      @include only-sm {
        right: 20px;
      }
      @include xs {
        position: static;
        order: 9;
        margin: 0 auto;
        max-width: 250px;
        width: 100%;
      }
    }
  }
  &__content {
    padding-top: 120px;
    @include xs {
      padding-top: 34px;
    }
    &--services {
      padding-top: 0;
      width: 55%;
      @include xs {
        width: 100%;
      }
    }
  }
  &__minititle {
    color: $white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.01px;
    line-height: 51px;
    text-transform: uppercase;
  }
  &__title {
    color: $white;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-top: 25px;
    margin-bottom: 10px;
    @include xs {
      font-size: 28px;
      margin-bottom: 5px;
    }
    &--custom {
      font-size: 48px;
      font-weight: bold;
      letter-spacing: -0.01px;
      line-height: 41px;
      text-transform: none;
      margin-bottom: 20px;
    }
    &--services {
      font-size: 64px;
      font-weight: bold;
      text-transform: none;
      margin-bottom: 20px;
      @include xs {
        font-size: 28px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 0;
      }
    }
  }
  &__subtitle {
    font-family: $font-a;
    color: $white;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -0.01px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 30px;
    @include xs {
      font-size: 18px;
    }
    &--custom {
      font-size: 36px;
      margin-bottom: 30px;
    }
    &--custom-we {
      font-size: 36px;
      margin-top: 108px;
      z-index: 1;
      position: relative;
      width: 55%;
      @include sm {
        font-size: 28px;
      }
      @include xs {
        font-size: 32px;
        max-width: 312px;
        width: 100%;
        margin: 25px auto 20px auto;
      }
      br {
        @include xs {
          display: none;
        }
      }
    }
    &--services {
      font-size: 39px;
      font-weight: 300;
      line-height: 1.08;
      margin-bottom: 15px;
      @include xs {
        font-size: 24px;
      }
      br {
        @include xs {
          display: none;
        }
      }
    }
  }
  &__text {
    font-family: $font-a;
    color: $white;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    width: 470px;
    @include xs {
      font-size: 24px;
      width: 100%;
    }
    &--custom {
      margin-top: 60px;
      @include xs {
        margin-top: 40px;
      }
    }
    &--services {
      font-family: $font-c;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.79;
      width: 100%;
      @include xs {
        font-family: $font-a;
        font-size: 18px;
        font-weight: 300;
      }
      br {
        @include xs {
          display: none;
        }
      }
    }
  }
  &__image {
    position: absolute;
    right: 0;
    @include xs {
      position: static;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &--custom {
      bottom: 0;
    }
    &--we {
      bottom: 58px;
      width: 45%;
      max-width: max-content;
      // @include only-sm {
      //   position: absolute;
      //   top: inherit !important;
      //   transform: inherit !important;
      //   bottom: 95px !important;
      //   width: 40%;
      // }
      // @include lg {
      //   position: absolute;
      //   top: 50%;
      //   transform: translateY(-50%);
      //   bottom: inherit;
      //   width: 40%;
      // }
      @include xs {
        width: 320px;
        position: relative;
        bottom: -20px;
        margin-bottom: 0;
        top: inherit;
        transform: inherit;
      }
    }
  }
  &__button {
    @include xs {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  &__padding-b {
    padding-bottom: 108px;
    @include xs {
      padding-bottom: 0;
    }
  }
  hr {
    display: block;
    border: none;
    height: 20px;
  }
}
