.c-block-services {
  &__lists {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    @include xs {
      flex-direction: column;
    }
  }
  &__list {
    display: inline-block;
    margin: 0 4.5%;
    flex: 1;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
      @extend .o-animation-delay-1;
    }
    @include xs {
      width: 310px;
      margin: 0 20px;
    }
  }
  &__content {
    @include xs {
      display: flex;
      flex-direction: row;
      margin-bottom: 45px;
    }
  }
  &__image {
    width: 60px;
    height: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    @include xs {
      flex: 1 1 60px;
      margin-right: 20px;
    }
  }
  &__info {
    @include xs {
      flex: 1 1 calc(100% - 80px);
    }
  }
  &__title {
    color: $purple2;
    font-family: $font-a;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.01px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
    @include xs {
      text-align: left;
    }
  }
  &__text {
    color: $purple2;
    font-family: $font-b;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
    line-height: 1.2;
    @include xs {
      text-align: left;
      padding-bottom: 0;
    }
  }
}
