.c-buttons {
  width: 100%;
  max-width: 160px;
  height: 36px;
  border-radius: 25px;
  font-family: $font-a;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  &:hover {
    max-width: 180px;
  }
  &__outline-primary {
    border: 2px solid $white;
    color: $white;
  }
  &__primary {
    border: 2px solid $black;
    color: $black;
  }
  &__secondary {
    border: 2px solid $white;
    color: $black;
    background-color: $white;
  }
  &__tertiary {
    border: none;
    color: $white;
    background-color: $purple2;
  }
}
