.c-block-listo {
  &__ready {
    min-height: 250px;
    background-color: $gray1;
    @include backgroundOpacity($gray1, 0.24);
    padding-top: 10px;
    @include xs {
      padding-top: 30px;
    }
    &-wrapper {
      max-width: 860px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
    }
    &-text {
      padding: 52px 0 27px 35px;
      @include xs {
        padding: 15px 30px 27px 30px;
      }
    }
    &-title {
      opacity: 0;
      .is-visible & {
        @extend .o-animation-fade-in-up;
      }
      @include xs {
        font-size: 36px;
        text-align: center;
      }
    }
    &-subtitle {
      opacity: 0;
      .is-visible & {
        @extend .o-animation-fade-in-left;
      }
      @include xs {
        font-size: 12px;
        font-family: $font-b;
        text-align: center;
      }
    }
    &-button {
      @include xs {
        display: block;
        margin: auto;
      }
      opacity: 0;
      .is-visible & {
        @extend .o-animation-fade-in-left;
        @extend .o-animation-delay-1;
      }
    }
    &-image {
      padding-bottom: 0;
      display: flex;
      opacity: 0;
      @include xs {
        justify-content: center;
        padding: 0 20px;
      }
      .is-visible & {
        @extend .o-animation-fade-in-up;
        @extend .o-animation-delay-1;
      }
      img {
        @include xs {
          max-width: 290px;
        }
      }
    }
  }
}
