.c-breadcrumbs {
  width: 100%;
  font-weight: bold;
  text-align: left;
  margin: 12px auto;
  display: inline-block;
  font-size: 0;
  a {
    font-family: $font-b;
    text-decoration: none;
    opacity: 0.7;
    font-weight: 300;
    &:hover {
      font-weight: bold;
      opacity: 1;
    }
    &:before {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
  span {
    opacity: 0.7;
    font-weight: 300;
  }
  i {
    font-family: $font-b;
    font-style: normal;
    font-weight: bold;
  }
  a,
  span,
  i {
    color: $white;
    font-size: 11px;
  }
}
