.c-cards {
  width: 100%;
  &__services {
    &-content {
      margin: 50px 30px 0px 30px;
      @include xs {
        margin-right: 12px;
        margin-left: 12px;
      }
      &:hover {
        .c-cards__services-image {
          transform: translateY(0px);
          animation-delay: 3s;
          img {
            transform: translate(-10px, -10px);
          }
        }
      }
    }
    &-info {
      padding: 35px 10px 30px 10px;
      background-color: $white;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      position: relative;
      z-index: 1;
    }
    &-image {
      background-color: $gray1;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      height: 95px;
      height: 105px;
      position: relative;
      z-index: 0;
      transform: translateY(10px);
      img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px;
        margin: 0 auto;
      }
    }
    &-title {
      color: $purple2;
      font-size: 21px;
      font-weight: bold;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
    }
    &-subtitle {
      color: $purple1;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      height: 80px;
      padding-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__services1 {
    &:nth-child(2n) {
      margin-left: 60px;
      @include xs {
        margin-left: 0;
      }
    }
    &-content {
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      min-height: 280px;
      @include xs {
        margin-bottom: 20px;
        display: block;
      }
      // &:hover {
      //   .c-cards__services-image {
      //     transform: translateY(0px);
      //     animation-delay: 3s;
      //     img {
      //       transform: translate(-10px, -10px);
      //     }
      //   }
      // }
    }
    &-info {
      padding: 45px 55px 10px 55px;
      background-color: $white;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      position: relative;
      z-index: 1;
      flex: 1 1 65%;
      @include xs {
        padding: 12px 22px 20px 22px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
      }
    }
    &-image {
      background-color: $gray1;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      position: relative;
      z-index: 0;
      flex: 1 1 35%;
      overflow: hidden;
      @include xs {
        height: 120px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 12px;
      }
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
      }
    }
    &-title {
      color: $purple2;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 15px;
      @include xs {
        font-size: 16px;
      }
    }
    &-subtitle {
      line-height: 1.2;
      color: $black;
      font-family: $font-b;
      font-size: 14px;
      font-weight: 300;
      padding: 0;
      margin-bottom: 15px;
      @include xs {
        font-size: 12px;
      }
    }
    &-text {
      color: $purple1;
      font-size: 12px;
      line-height: 1.2;
      padding: 0;
      font-weight: 300;
    }
    &-button {
      margin-top: 20px;
      @include xs {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &__projects {
    min-height: 260px;
    padding-bottom: 30px;
    &--small-card {
      min-height: 260px;
      margin: 0 12px;
      flex: 1;
      @include xs {
        margin-left: 0;
        margin-right: 0;
        height: auto;
        padding-bottom: 30px;
      }
      // &:nth-of-type(1n + 5) {
      //   display: none;
      // }
    }
    &--normal-card {
      min-height: 400px;
      display: flex;
      padding-bottom: 60px;
      @include xs {
        min-height: 250px;
        height: auto;
        padding-bottom: 30px;
      }
    }
    &--half-width {
      .c-cards__projects-info {
        @include md {
          width: 60%;
        }
        @include only-sm {
          width: 60%;
        }
      }
    }
    &-content {
      border-radius: 10px;
      padding: 30px 15px;
      position: relative;
      height: 100%;
      width: 100%;
      @include xs {
        min-height: 225px;
        padding: 30px 20px;
        height: auto;
      }
    }
    &-info {
      @include xs {
        width: 60%;
      }
    }
    &-image {
      position: absolute;
      bottom: -22px;
      right: 0px;
      &--normal-card {
        bottom: -60px;
        @include xs {
          bottom: -22px;
        }
      }
      @include xs {
      }
      img {
      }
    }
    &-title {
      color: $white;
      font-family: $font-a;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1.2;
      margin-bottom: 5px;
      text-transform: uppercase;
      @include xs {
      }
    }
    &-subtitle {
      color: $white;
      font-family: $font-a;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: -0.01px;
      line-height: 1.2;
      padding-bottom: 5px;
      position: relative;
      z-index: 1;
      &--normal-card {
        font-size: 28px;
        padding-bottom: 15px;
        @include xs {
          font-size: 24px;
        }
      }
    }
    &-link {
      color: $white;
      font-family: $font-a;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1.2;
      text-decoration: none;
      position: relative;
      z-index: 1;
      span {
        padding-left: 5px;
      }
      @include xs {
      }
    }
    &-button {
      @include xs {
      }
    }
  }
}
