//input
::placeholder {
  font-family: $font-a;
  font-weight: normal;
  opacity: 0.7;
}

:-ms-input-placeholder {
  font-family: $font-a;
  font-weight: normal;
  opacity: 0.7;
}

::-ms-input-placeholder {
  font-family: $font-a;
  font-weight: normal;
  opacity: 0.7;
}

.c-form {
  &__wrapper {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
  }
  &__mask {
    position: relative;
  }
  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    flex-wrap: wrap;
    padding: 0 5px;
    @include xs {
      padding: 0;
    }
    span {
      font-size: 12px;
      padding: 5px 0;
      color: #e63780;
      text-align: left;
      display: none;
    }
    &.error {
      span {
        display: block;
      }
    }
  }
  &__button {
    width: 100%;
    margin-bottom: 95px;
    @include xs {
      margin-bottom: 45px;
      text-align: center;
    }
  }
  &__label {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #656565;
    align-self: flex-start;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    span {
      text-transform: none;
    }
    small {
      color: $black;
      font-family: $font-a;
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      top: 17px;
      left: 10px;
      text-transform: uppercase;
      line-height: 1.2;
      transition: all 0.3s ease;
      span {
        color: #e63780;
        display: inline !important;
      }
    }
  }
  &__input,
  &__textarea {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: $black;
    font-family: $font-a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.3s ease;
    padding-left: 70px;
    .c-form__group.error & {
      border: solid 1px #e63780;
    }
    &:focus {
      padding-left: 13px;
      transition: all 0.3s ease;
    }
    &:focus + label small {
      transform: translateY(-170%);
    }
  }
  &__textarea {
    height: auto;
    padding: 35px 10px 10px 10px;
  }
  &__file {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &__label-file {
    background-color: $white;
    display: block;
    width: 100%;
    height: 50px;
    background-image: url(/img/components/form/ico-file.svg);
    background-position: center right 18px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    cursor: pointer;
    small {
      font-family: $font-a;
      font-size: 14px;
      font-weight: 500;
      margin-left: 10px;
      text-transform: uppercase;
      line-height: 50px;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      color: $black;
      font-family: $font-b;
      font-size: 14px;
      margin-left: 10px;
      line-height: 50px;
      font-style: normal;
    }
  }
  &__text-format {
    display: block;
    margin-top: 10px;
    font-size: 10px;
    font-family: $font-b;
  }
}
