.gallery-modal-wrapper {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $black, $alpha: 0.8);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    z-index: 10;
    opacity: 1;
    visibility: inherit;
  }

  .gallery-slider-container {
    max-width: 70%;
    height: 70%;
    position: relative;

    .gallery-slider {
      .slick-dots {
        padding: 20px 0;

        li {
          margin: 0 5px;
          height: 9px;
          button {
            display: block;
            padding: 0;
            border: 0;
            text-indent: -9999px;
            height: 100%;
            &:before {
              background-color: $white;
              border-radius: 4.5px;
              opacity: 0.49;
              width: 9px;
              height: 100%;
            }
          }
          &.slick-active {
            button {
              &:before {
                width: 16px;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .close-modal-btn {
      position: absolute;
      right: 0;
      top: -45px;
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        color: $white;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
        margin-right: 10px;
      }

      .close {
        width: 35px;
        height: 35px;
        transform: translateY(0px) rotate(45deg);

        span {
          content: '';
          background-color: $white;
          border-radius: 1px;
          display: block;
          width: 100%;
          height: 2px;

          &:first-child {
            transform: translateY(16px) rotate(90deg);
          }

          &:last-child {
            transform: translateY(11px);
          }
        }
      }
    }
  }

  .gallery-slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 100%;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }

    .legend {
      position: absolute;
      background: $black;
      color: $white;
      padding: 26px 40px;
      max-width: 550px;
      bottom: 0;
      right: 0;
      font-size: 12px;
      line-height: 16px;
      font-family: $font-b;
      font-weight: 300;
    }
  }

  @include xs {
    .gallery-slider-container {
      width: 100%;
      max-width: none;
      max-height: 80%;
      position: static;

      .close-modal-btn {
        top: 10px;
        right: 25px;
      }
    }

    .c-slider__wrapper {
      width: 90%;
    }
  }
}
