.c-link-listo {
  font-family: $font-a;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  height: 85px;
  width: 100%;
  max-width: 425px;
  position: absolute;
  bottom: 50px;
  right: -40px;
  background-color: $white;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: $purple2;
  z-index: 1;
  @include xs {
    display: none;
  }
  &__image {
    align-self: flex-end;
    margin-right: 10px;
    width: 78px;
    height: 71px;
    background: url(/img/commons/css_sprites.png) -10px -10px;
  }
  &:hover {
    right: 0;
    animation: none;
  }
}
