.c-overlay {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $black, $alpha: 0.8);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  top: 0;
  body.js-load & {
    z-index: 10;
    opacity: 1;
    visibility: inherit;
  }
}
