.c-preload {
  z-index: inherit;
  position: inherit;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  body.js-load & {
    z-index: 30;
    position: fixed;
    display: flex;
  }
  &__image {
    width: 115px;
    height: 115px;
    overflow: hidden;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 400px;
      height: 400px;
      background-color: rgba($color: #000000, $alpha: 0.4);
      left: 50%;
      transform: translate(-50%);
      border-radius: 40%;
      animation: fill 2s ease-in-out infinite;
    }
  }
  &__text {
    color: $white;
    font-family: $font-a;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 10.49px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 35px;
    span {
      animation-name: blink;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes fill {
  from {
    bottom: 0px;
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    bottom: 200px;
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
