.project-detail-container {
  margin-bottom: 80px;
  .project-detail-quote {
    max-width: 700px;
    margin: 0 auto 30px;
    display: flex;
    padding-top: 46px;
    line-height: 38px;
    align-items: flex-start;

    img {
      margin-right: 30px;
    }

    h2 {
      color: $purple2;
      font-weight: normal;
      font-size: 36px;
      text-align: center;
      letter-spacing: -0.01px;
    }

    span {
      display: block;
      text-align: right;
      font-size: 12px;
    }
  }

  .project-detail-content {
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;

    h3 {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    .left-content-container {
      width: 400px;
      margin-right: 96px;
    }

    .right-content-container {
      width: calc(100% - 496px);
      padding-top: 30px;

      .right-content-images {
        display: flex;

        img:not(:last-child) {
          margin-right: 10px;
        }
      }

      .legend {
        display: block;
        font-size: 12px;
        margin-top: 15px;
        line-height: 16px;
        font-family: $font-b;
        font-weight: 300;
      }
    }

    .down-content-container {
      width: 400px;
      margin-top: 50px;

      ul {
        list-style: disc;
        padding-left: 18px;
        font-family: $font-b;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  @include sm {
    .project-detail-content {
      margin-left: 50px;

      .left-content-container {
        margin-right: 30px;
      }

      .right-content-container {
        width: calc(100% - 430px);
      }
    }
  }

  @include xs {
    padding: 0 30px;

    .project-detail-quote {
      h2 {
        font-size: 26px;
      }
    }

    .project-detail-content {
      margin: 0;

      .left-content-container,
      .right-content-container,
      .down-content-container {
        width: 100%;
      }

      .left-content-container {
        margin-right: 0;
      }
    }
  }
}
