.project-gallery-container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 10px;

  .gallery-item {
    height: auto;
    width: 33%;
    margin-bottom: 30px;
    padding: 0 20px;
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      margin: 0 auto;
    }

    .legend {
      display: block;
      font-size: 12px;
      margin-top: 12px;
      line-height: 16px;
      font-family: $font-b;
      font-weight: 300;
      b {
        font-weight: bold;
      }
    }

    .hover {
      position: absolute;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      background-image: url('/img/components/project-gallery/lupa.png');
      background-color: $gray5;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.7;
      display: none;
      top: 0;
      left: 20px;
    }

    &:hover {
      .hover {
        display: block;
      }
    }
  }
}

.show-more-btn {
  display: none;
  margin: 0 auto;
}

@include xs {
  .project-gallery-container {
    .gallery-item {
      width: 100%;

      &.hide-mob {
        display: none;
      }
    }
  }

  .show-more-btn {
    display: block;
  }
}
