.projects-block {
  margin-bottom: 95px;
  padding-top: 40px;
  @include xs {
    margin-bottom: 0;
    background-color: $white;
  }

  &__wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1162px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
    }
  }
  &__title {
    font-size: 18px;
    margin-bottom: 35px;
    text-transform: uppercase;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
    }
    i {
      @include xs {
        width: 16px;
        height: 8px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        background-image: url(/img/commons/ico-arrow-down.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .c-cards__projects--small-card {
    @include xs {
      margin: 0 10px;
    }
  }
}
