.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 35px 0;
  list-style-type: none;
  bottom: 0;
  position: static;
  li {
    margin: 0 5px;
    height: 11px;
    button {
      display: block;
      padding: 0;
      border: 0;
      text-indent: -9999px;
      height: 100%;
      &:before {
        background-color: $purple1;
        border-radius: 5.5px;
        opacity: 0.3;
        width: 11px;
        height: 100%;
      }
    }
    &.slick-active {
      button {
        &:before {
          width: 18px;
          opacity: 1;
        }
      }
    }
  }
}

.slick-custom {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @include xs {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
  }
  &--arrow-prev,
  &--arrow-next {
    background: url(/img/commons/css_sprites.png);
    width: 55px;
    height: 50px;
    z-index: 1;
  }
  &--arrow-prev {
    left: 0px;
    background-position: -85px -160px;
  }
  &--arrow-next {
    right: 0px;
    background-position: -10px -160px;
  }
}

.c-slider {
  &__wrapper {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    right: 0;
  }
  &__content {
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    @include xs {
      margin-bottom: 0px;
    }
    .slick-slider,
    .slick-list,
    .slick-track {
    }
    .slick-slider {
      margin-bottom: 0;
    }
  }
  &__slide {
    position: relative;
    overflow: hidden;
    &--projects {
      @include xs {
        border-radius: 10px;
        margin-bottom: 70px;
        overflow: inherit;
      }
    }
  }
}

.c-slider__content {
  &.type-1 {
    .slick-dots {
      position: absolute;
      @include xs {
        padding-top: 40px;
        padding-bottom: 30px;
      }
    }
    .slick-slide {
      @include xs {
        height: auto;
      }
    }
    .slick-custom {
      &--arrow-prev {
        left: 20px;
      }
      &--arrow-next {
        right: 20px;
      }
    }
    .slick-list,
    .slick-track {
      height: 635px;
      @include xs {
        height: auto;
        display: flex;
      }
    }
    .slider-box-info {
      bottom: 35px;
      left: 135px;
      @include md {
        left: 90px;
      }
      @include xs {
        left: 20px;
        bottom: 8px;
      }
    }
    .slider-wrap {
      @include xs {
        display: none;
      }
    }
  }
  &.type-2 {
    .c-slider__slider {
      max-width: 1080px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      z-index: 1;
    }
    .slick-dots {
      padding: 50px 0 0 0;
    }
    .slick-slide {
      height: auto;
    }
    .slick-list {
      @include xs {
        padding: 0 20% 0 0;
      }
    }
    .slide {
      margin: 10px;
      @include xs {
        margin: 0;
      }
    }
    .slider-wrap {
      @include xs {
        display: none;
      }
    }
  }
}
