.c-slider-blog {
  &__wrapper {
  }
  &__title {
  }
  &__subtitle {
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1198px;
    padding: 0 20px;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 991px) and (max-width: 1400px) {
      align-items: flex-start;
      padding-top: 160px;
    }
    @include only-sm {
      align-items: flex-start;
      padding-top: 160px;
    }
    @include xs {
      flex-direction: column;
      height: auto;
    }
  }
  &__slide {
    @include xs {
      padding-top: 175px;
    }
  }
  &__box-info {
    position: relative;
    text-align: left;
    flex: 0 0 465px;
    flex: 0 0 595px;
    padding-left: 90px;
    padding-right: 0px;
    z-index: 1;
    //nuevo
    @media (min-width: 991px) and (max-width: 1400px) {
      flex: 0 0 55%;
      padding-left: 90px;
      padding-right: 5px;
    }
    @include sm {
      flex: 0 0 55%;
      padding-left: 90px;
      padding-right: 0;
    }
    @include xs {
      order: 2;
      text-align: left;
      flex: 1;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  &__date {
    font-family: $font-a;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__title {
    font-family: $font-a;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    @include sm {
      font-size: 28px;
    }
    @include xs {
      font-size: 28px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    font-family: $font-b;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  &__button {
    margin-bottom: 90px;
    @include xs {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__image {
    margin-bottom: 40px;
    @include xs {
      order: 1;
      width: calc(100% + 40px);
      left: 20px;
      position: relative;
    }
    img {
      position: relative;
      @media (min-width: 991px) and (max-width: 1400px) {
        max-width: 45%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      @include only-md {
        position: absolute;
        bottom: 40px;
        //transform: translateY(-50%);
        right: 0;
        //max-width: 55%;
      }
      @include only-sm {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        max-width: 45%;
      }
    }
  }
}
