.services-slider {
  padding: 40px 0 35px 0;
  background-color: $gray2;

  &.title-center {
    .o-header__title {
      position: relative;
      text-align: center;
    }
  }

  &-buttons {
    display: block;
    margin: 0 auto;
  }
}
