.c-title-and-content {
  &__wrapper-title {
    width: 100%;
    display: block;
  }
  &__title {
    font-family: $font-a;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    @include only-md {
      font-size: 36px;
    }
    @include only-sm {
      font-size: 28px;
    }
    @include only-xs {
      font-size: 28px;
    }
  }
  &__wrapper-content {
    width: 100%;
    display: block;
  }
  &__content {
    font-family: $font-a;
    font-weight: 300;
    line-height: 1.2;
    @include only-md {
      font-size: 26px;
    }
    @include only-sm {
      font-size: 26px;
    }
    @include only-xs {
      font-size: 18px;
    }
  }
}
