.tabs-container {
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 30px auto 40px;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;

  .gray-bar {
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: $black;
    opacity: 0.2;
    bottom: -5px;
  }

  .tab {
    flex: 1;
    text-align: center;
    position: relative;
    cursor: pointer;

    h4 {
      font-family: $font-a;
      font-size: 14px;
      color: $black;
      line-height: 22px;
      letter-spacing: 0;
      text-transform: uppercase;
      padding: 10px;
    }

    .black-bar {
      display: none;
      position: absolute;
      background: $black;
      width: 100%;
      height: 10px;
      bottom: -5px;
      border-radius: 5px;
    }

    &.active {
      .black-bar {
        display: block;
      }
    }
  }

  &__contact {
    max-width: 560px;
    margin-top: -102px;
    margin-left: -60px;
    @include xs {
      max-width: inherit;
      margin-left: -20px;
      width: calc(100% + 40px);
    }
    .tab {
      flex: 1;
      background-color: rgba($color: $white, $alpha: 0.43);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      margin-left: 2px;
      margin-right: 2px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      h4 {
        font-size: 18px;
        padding: 20px;
      }
      &.active {
        background-color: $white;
        .black-bar {
          display: block;
        }
      }
    }
  }
}

.tabs-content-container {
  .tab-content {
    display: none;

    &.active {
      display: block;
    }
  }
}
