{{ $breadcrumburl := .breadcrumburl }}
{{ $breadcrumbtext := .breadcrumbtext }}

{{ with .banner }}
 {{ if eq .type "1" }}

<section class="c-banner c-banner__mini-height {{ .bannerClass }} ">
  {{- partial "breadcrumbs.html" (dict "breadcrumburl" $breadcrumburl "breadcrumbtext" $breadcrumbtext) -}}

  <div class="o-container o-padding">
    <h1
      class="c-banner__title {{ .titleClass }} o-animation-animated o-animation-fade-in-up"
    >
      {{- .title | safeHTML -}}

    </h1>
    <p
      class="c-banner__subtitle {{ .subtitleClass }} o-animation-animated o-animation-fade-in-up o-animation-delay"
    >
      {{- .subtitle | safeHTML -}}

    </p>
  </div>
</section>

{{ else if (eq .type "2") }}

<section class="c-banner c-banner__normal-height {{ .bannerClass }} ">
  {{- partial "breadcrumbs.html" (dict "breadcrumburl" $breadcrumburl "breadcrumbtext" $breadcrumbtext) -}}

  <div class="o-container o-padding o-col u-relative">
    <div class="o-col__cell o-col__cell--1/2@md">
      <h1
        class="c-banner__title o-animation-animated o-animation-fade-in-up {{ .titleClass }}"
      >
        {{- .title | safeHTML -}}

      </h1>
      <img class="c-banner__image" src="{{ .image | absURL }}" alt="" />
      <p
        class="c-banner__text o-animation-animated o-animation-fade-in-up o-animation-delay {{ .textClass }}"
      >
        {{- .text | safeHTML -}}

      </p>
      {{ if .linkButton }}

      <a
        href="{{- .linkButton.url | absURL -}}"
        class="c-buttons c-buttons__outline-primary o-animation-animated c-banner__button"
        >{{- .linkButton.text -}}</a
      >
      {{ end }}

    </div>
    <div class="o-col__cell o-col__cell--1/2@md"></div>
  </div>
  {{- partial "link-listo.html" . -}}

</section>
{{ else if (eq .type "3") }}

<section
  class="c-banner c-banner__normal-height c-banner__mask-desktop {{ .bannerClass }} "
>
  <div class="c-banner__mask-mobile">
    <img class="c-banner__mask-image" src="{{ .image | absURL }}" alt="" />
    {{- partial "breadcrumbs.html" (dict "breadcrumburl" $breadcrumburl "breadcrumbtext" $breadcrumbtext) -}}

    <div class="o-container o-padding">
      <h1
        class="c-banner__title u-text-center o-animation-animated o-animation-fade-in-up {{ .titleClass }}"
      >
        {{- .title | safeHTML -}}

      </h1>
    </div>
  </div>
  <div class="o-container o-padding o-col u-relative">
    <div class="o-col__cell o-col__cell--3/4@md">
      <div class="c-banner__content">
        <h2
          class="c-banner__subtitle c-banner__subtitle--custom o-animation-animated o-animation-fade-in-up o-animation-delay {{ .subtitleClass }}"
        >
          {{- .subtitle | safeHTML -}}

        </h2>
        <p
          class="c-banner__text o-animation-animated o-animation-fade-in-up o-animation-delay {{ .textClass }}"
        >
          {{- .text | safeHTML -}}

        </p>
      </div>
    </div>
    <div class="o-col__cell o-col__cell--1/4@md"></div>
  </div>
</section>

{{ else if (eq .type "4") }}

<section class="c-banner c-banner__normal-height u-relative {{ .bannerClass }}">
  {{- partial "breadcrumbs.html" (dict "breadcrumburl" $breadcrumburl "breadcrumbtext" $breadcrumbtext) -}}

  <div class="o-container o-padding o-col ">
    <div class="o-col__cell o-col__cell--1/3@md">
      <span
        class="c-banner__minititle o-animation-animated o-animation-fade-in-up"
        >{{- .minititle | safeHTML -}}</span
      >
      <h1
        class="c-banner__title o-animation-animated o-animation-fade-in-up {{ .titleClass }} c-banner__title--custom"
      >
        {{- .title | safeHTML -}}

      </h1>
      <img
        class="c-banner__image c-banner__image--custom"
        src="{{ .image | absURL }}"
        alt=""
      />
      <p
        class="c-banner__text o-animation-animated o-animation-fade-in-up o-animation-delay {{ .textClass }}"
      >
        {{- .text | safeHTML -}}

      </p>
    </div>
  </div>
</section>
{{ else if (eq .type "5") }}

<section class="c-banner c-banner__height-we {{ .bannerClass }} ">
  {{- partial "breadcrumbs.html" (dict "breadcrumburl" $breadcrumburl "breadcrumbtext" $breadcrumbtext) -}}

  <div class="o-container o-padding o-col">
    <div class="o-col__cell">
      <h1
        class="c-banner__title o-animation-animated o-animation-fade-in-up {{ .titleClass }}"
      >
        {{- .title | safeHTML -}}

      </h1>
      <h2
        class="c-banner__subtitle c-banner__subtitle--custom-we o-animation-animated o-animation-fade-in-up o-animation-delay {{ .subtitleClass }}"
      >
        {{- .subtitle | safeHTML -}}

      </h2>
      <img
        class="c-banner__image c-banner__image--we"
        src="{{ .image | absURL }}"
        alt=""
      />
    </div>
  </div>
</section>

{{ else if (eq .type "6") }}

<section
  class="c-banner c-banner--services c-banner__normal-height c-banner__mask-desktop u-overflow {{ .bannerClass }} "
>
  {{- partial "breadcrumbs.html" (dict "breadcrumburl" $breadcrumburl "breadcrumbtext" $breadcrumbtext) -}}

  <div class="c-banner__mask-mobile">
    <img
      class="c-banner__mask-image c-banner__mask-image--services"
      src="{{ .image | absURL }}"
      alt=""
      width="626"
      height="623"
    />

    <div class="o-container o-padding">
      <h1
        class="c-banner__title c-banner__title--services o-animation-animated o-animation-fade-in-up {{ .titleClass }}"
      >
        {{- .title | safeHTML -}}

      </h1>
    </div>
  </div>
  <div class="o-container o-padding o-col u-relative">
    <div class="c-banner__content c-banner__content--services">
      <h2
        class="c-banner__subtitle c-banner__subtitle--services o-animation-animated o-animation-fade-in-up o-animation-delay {{ .subtitleClass }}"
      >
        {{- .subtitle | safeHTML -}}

      </h2>
      <p
        class="c-banner__text c-banner__text--services o-animation-animated o-animation-fade-in-up o-animation-delay {{ .textClass }}"
      >
        {{- .text | safeHTML -}}

      </p>
    </div>
  </div>
</section>
{{ end }}
 {{ end }}
