<div class="c-block-services__lists show-on-scroll">
  {{ range . }}

  <article class="c-block-services__list o-animation-animated">
    <figure class="c-block-services__content">
      <div class="c-block-services__image">
        <img class="" src="{{ .image | absURL }}" alt="" />
      </div>
      <figcaption class="c-block-services__info">
        <h3 class="c-block-services__title">{{- .title | safeHTML -}}</h3>
        <p class="c-block-services__text">{{- .text | safeHTML -}}</p>
      </figcaption>
    </figure>
  </article>
  {{ end }}

</div>
