<section class="c-block-listo__ready show-on-scroll">
  <div class="c-block-listo__ready-wrapper o-col">
    <div
      class="o-animation-animated o-col__cell o-col__cell--1/3@md o-col__cell--1/3@sm c-block-listo__ready-image"
    >
      <img
        class="js-lazy-img"
        data-lazy="/img/components/block-listo/project.png"
        alt=""
        width="287"
        height="240"
      />
    </div>
    <div
      class="o-col__cell o-col__cell--2/3@md o-col__cell--2/3@sm c-block-listo__ready-text"
    >
      <h2 class="c-block-listo__ready-title o-font-h2 o-animation-animated">
        ¿LISTO PARA INICIAR TU PROYECTO?
      </h2>
      <p
        class="c-title-and-content__content c-block-listo__ready-subtitle o-animation-animated"
      >
        Comunícate con nosotros y te ayudaremos a resolver tus desafíos
        digitales.
      </p>
      <a
        href="/contacto"
        class="c-block-listo__ready-button o-animation-animated c-buttons c-buttons__primary"
      >
        CONTÁCTANOS
      </a>
    </div>
  </div>
</section>
