{{ $scratch := newScratch }}
{{ $text:= .breadcrumbtext }}
{{ $url:= strings.TrimLeft "/" .breadcrumburl }}
{{ $url:= strings.TrimRight "/" $url }}
{{ $length:= len (split $url "/") }}

<div class="o-container o-padding">
  <div class="c-breadcrumbs u-relative">
    {{ $s:= "" }}
 {{ range $i, $e := (split $url "/") }}
 {{ if eq $i 0 }}

    <a href="/" title="{{ index $text 0 }}">{{ index $text 0 }}</a> {{ end }}

    {{ if eq $i (sub $length 1) }}
 <span>&nbsp;/&nbsp;</span>
    <i>{{ index $text (add $i 1) }}</i>
    {{ else }}
 <span>&nbsp;/&nbsp;</span> {{ $scratch.Add "url" (add $e "/") }}

    <a
      href="{{- $scratch.Get "url" | relURL -}}"
      title="{{ index $text (add $i 1) }}"
      >{{ index $text (add $i 1) }}</a
    >
    {{ end }}
 {{ end }}

  </div>
</div>
