{{ if eq .type "1" }}

<article class="c-cards c-cards__services">
  <figure class="c-cards__services-content">
    <div class="c-cards__services-image o-animation-animated">
      <img
        class="o-animation-animated"
        data-lazy="{{ .image | absURL }}"
        alt=""
      />
    </div>
    <figcaption class="c-cards__services-info">
      <h3 class="c-cards__services-title">{{- .title -}}</h3>
      <p class="c-cards__services-subtitle">{{- .subtitle -}}</p>
      {{ if .link }}

      <a
        href="{{- .link.url -}}"
        class="c-buttons c-buttons__primary o-animation-animated services-slider-buttons"
        >{{- .link.text -}}</a
      >
      {{ end }}

    </figcaption>
  </figure>
</article>
{{ else if (eq .type "2") }}

<article class="c-cards c-cards__services1">
  <figure class="c-cards__services1-content">
    <div class="c-cards__services1-image">
      <img
        class="js-lazy-img o-animation-animated"
        data-lazy="{{ .image | absURL }}"
        alt=""
      />
    </div>
    <figcaption class="c-cards__services1-info">
      <h3 class="c-cards__services1-title">{{- .title | safeHTML -}}</h3>
      <h4 class="c-cards__services1-subtitle">{{- .subtitle | safeHTML -}}</h4>
      <p class="c-cards__services1-text">{{- .text | safeHTML -}}</p>
      {{ if .link }}

      <a
        href="{{- .link.url -}}"
        class="c-cards__services1-button c-buttons c-buttons__primary o-animation-animated"
        >{{- .link.text -}}</a
      >
      {{ end }}

    </figcaption>
  </figure>
</article>
{{ else if (eq .type "3") }}

<article class="c-cards c-cards__projects {{ .heightClass }}">
  <div
    class="c-cards__projects-content o-animation o-animation-hover-float {{ .cardClass }}"
  >
    <div class="c-cards__projects-info">
      <h2 class="c-cards__projects-title {{ .titleClass }}">
        {{ if .logo }}

        <img src="{{- .logo | absURL -}}" alt="{{- .title -}}" /> {{ else }}

        {{- .title -}}
 {{ end }}

      </h2>
      <p class="c-cards__projects-subtitle {{ .subtitleClass }}">
        {{- .subtitle | safeHTML -}}

      </p>
      {{ if .link }}

      <a href="{{- .link.url -}}" class="c-cards__projects-link">
        {{- .link.text -}} <span>></span>
      </a>
      {{ end }}
 {{ if .linkButton }}

      <a
        href="{{- .linkButton.url -}}"
        class="c-buttons c-buttons__outline-primary c-cards__projects-button"
      >
        {{- .linkButton.text -}}

      </a>
      {{ end }}

    </div>
    {{ if .image }}

    <div class="c-cards__projects-image {{ .imageClass }}">
      <img width="166" height="260" src="{{- .image | absURL -}}" alt="" />
    </div>
    {{ end }}

  </div>
</article>
{{ end }}
