{{ $footer := .Site.Menus.footer }}

<footer class="l-footer">
  <div class="l-footer-container">
    <a class="animated hoverFloat" href=""
      ><img
        class="js-lazy-img l-footer-logo"
        data-lazy="{{ "/img/commons/logo-footer.png" | absURL }}"
        alt=""
        width="498"
        height="76"
    /></a>
    <div class="l-footer-menu">
      {{ range $elem_index, $elem_val := $footer }}

      {{ if not (in (trim $elem_val.Identifier " ") "partners") }}

      <div class="l-footer-group {{ $elem_val.Identifier }}">
        <h3>{{ $elem_val.Name }}</h3>
        <ul>
          {{ range $elem_child_index, $elem_child_val := $elem_val.Children }}

          <li>
            <a
              href="{{ $elem_child_val.URL | absURL | safeURL }}"
              {{ if or (eq (trim $elem_child_val.Parent " ") "social_networks") (eq (trim $elem_child_val.Parent " ") "partners") }}

              target="blank"
              {{ end }}

            >
              {{ if or (eq (trim $elem_child_val.Parent " ") "social_networks") (eq (trim $elem_child_val.Parent " ") "partners") }}

              {{ $src := print "/img/footer/" $elem_child_val.Name }}

              <img
                class="js-lazy-img"
                data-lazy="{{ $src | relURL | absURL }}"
                alt=""
                width="28"
                height="28"
              />

              {{ else if eq $elem_child_val.Identifier "email" }}

              <img
                style="height: 26px;"
                src="{{ "img/footer/email.png" | absURL }}"
                alt=""
                height="26"
                width="230"
              />
              {{ else }}
 {{ $elem_child_val.Name }}
 {{ end }}

            </a>
          </li>
          {{ end }}

        </ul>
      </div>
      {{ end }}
 {{ end }}

    </div>
  </div>
  <span class="l-footer-copy"
    >Fusiona S.A. 2021. Todos los derechos reservados.</span
  >
</footer>
<!-- Scripts -->
{{ $jquery := resources.Get "/js/vendors/jquery-3.5.1.min.js" }}
{{ $validate := resources.Get "/js/vendors/jquery.validate.min.js" }}
{{ $addtionals := resources.Get "/js/vendors/additional-methods.min.js" }}
{{ $masonry := resources.Get "/js/vendors/masonry.pkgd.min.js" }}
{{ $slick := resources.Get "/js/vendors/slick.min.js" }}
{{ $js := slice $jquery $validate $masonry $slick $addtionals | resources.Concat "/dist/libraries.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{ $scripts := getJSON "script.json" }}
{{ $.Scratch.Set "jslibs" slice }}
{{ range $scripts.scripts }}
{{ $.Scratch.Add "jslibs" ( resources.Get . ) }}
{{ end }}

{{ if not .Site.IsServer }}

{{ $js := $.Scratch.Get "jslibs" | resources.Concat "/dist/scripts.js" | resources.Minify | resources.Fingerprint "sha256" }}

<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{ else }}

{{ $js := $.Scratch.Get "jslibs" | resources.Concat "/dist/scripts.js" | resources.Fingerprint "sha256" }}

<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{ end }}
 {{ if or (eq .Section "contacto") (eq .Section "nosotros") }}

<script src="https://www.google.com/recaptcha/api.js?render=6Lf1kYQaAAAAAGzxELay-r1JshSXWEe36MycExXR"></script>
{{ end }}
<!-- Scripts end -->
