<div class="gallery-modal-wrapper">
  <div class="gallery-slider-container">
    <div class="close-modal-btn">
      <span>Cerrar</span>
      <img
        src="{{ "/img/components/project-gallery/cerrar_shape.svg" | absURL }}"
        alt=""
      />
    </div>
    <div id="gallery-slider" class="gallery-slider">
      {{ range . }}

      <div class="gallery-slider-item">
        <img src="{{ .image | absURL }}" alt="" />
        <span class="legend">{{ .legend | safeHTML }}</span>
      </div>

      {{ end }}

    </div>
    <div class="c-slider__wrapper slider-wrap wrap-arrow">
      <div
        class="slick-custom slick-custom--arrow-prev bounce-horizontal"
      ></div>
      <div
        class="slick-custom slick-custom--arrow-next bounce-horizontal"
      ></div>
    </div>
  </div>
</div>
