{{ $menu := .Site.Menus.main }}

<header class="l-header">
  <div class="l-header-content">
    <!-- Logo -->
    <a class="l-header-logo" href="/">
      <!-- <img
        class="l-header-menu-logo"
        src="{{ "/img/commons/logo-menu.svg" | relURL | absURL }}"
        alt=""
      /> -->
      <img
        class="l-header-menu-logo"
        src="{{ "/img/commons/logo-menu.svg" | relURL | absURL }}"
        alt=""
        width="131"
        height="39"
      />
      <img
        class="l-header-logo-img"
        src="{{ "/img/commons/logo-menu.svg" | relURL | absURL }}"
        alt=""
        width="131"
        height="39"
      />
    </a>

    <!-- Menu button -->
    <div class="l-header-hamburger">
      <strong>MENÚ</strong>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!-- Menu -->
    <div class="l-header-menu">
      <nav class="navigation">
        <ul>
          {{ range $elem_index, $elem_val := $menu }}

          <!-- First level -->
          <li class="animated {{ with $elem_val.Children }}has-sub{{ end }}">
            <a href="{{ $elem_val.URL | absURL }}">{{ $elem_val.Name }}</a>
            {{ with $elem_val.Children }}

            <ul>
              {{ range $elem_child_index, $elem_child_val := $elem_val.Children }}

              <li>
                <a href="{{ $elem_child_val.URL | absURL }}"
                  >{{ $elem_child_val.Name }}</a
                >
              </li>
              {{ end }}

            </ul>
            {{ end }}

          </li>

          {{ end }}

        </ul>
      </nav>
    </div>
  </div>
</header>
