<head>
  <title>{{ .Title }}</title>
  <meta charset="UTF-8" />
  <meta
    content="{{ with .Params.description }} {{- . -}} {{ else }} {{- .Site.Params.description -}} {{ end }}"
    lang="es"
    name="description"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    rel="preload"
    media="all"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Saira+Condensed:wght@300;400;500;700&family=Raleway:wght@700&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <!--<link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Saira+Condensed:wght@300;400;500;700&family=Raleway:wght@700&display=swap"
    rel="stylesheet"
    />-->

  {{ range .Params.css_src -}}

  {{ $css := resources.Get . | resources.Minify | resources.Fingerprint "sha256" }}

  <link
    rel="preload"
    media="all"
    integrity="{{ $css.Data.Integrity }}"
    href="{{ $css.RelPermalink }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <!--<link
    href="{{ $css.RelPermalink }}"
    rel="stylesheet"
    integrity="{{ $css.Data.Integrity }}"
    media="all"
    />-->
  {{- end }}

  <!-- Styles -->
  {{ if not .Site.IsServer }}

  {{ $css := resources.Get "scss/main.scss" | resources.ToCSS | resources.PostCSS (dict "config" "./postcss.config.js") | resources.Minify | resources.Fingerprint "sha256" }}

  <link
    href="{{ $css.RelPermalink }}"
    rel="stylesheet"
    integrity="{{ $css.Data.Integrity }}"
    media="all"
  />
  {{ else }}

  {{ $css := resources.Get "scss/main.scss" | resources.ToCSS | resources.PostCSS (dict "config" "./postcss.config.js") | resources.Fingerprint "sha256" }}

  <link
    rel="preload"
    media="all"
    integrity="{{ $css.Data.Integrity }}"
    href="{{ $css.RelPermalink }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <!--<link
    href="{{ $css.RelPermalink }}"
    rel="stylesheet"
    integrity="{{ $css.Data.Integrity }}"
    media="all"
    />-->

  {{ end }}

  <!-- Styles end -->

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K2TN6F8');
  </script>
  <!-- End Google Tag Manager -->
</head>
