<div class="c-preload">
  <div class="c-preload__image">
    <img src="{{ "/img/commons/logo-preload.svg" | absURL }}" alt="" />
  </div>
  <div class="c-preload__text">
    cargando<span>.</span><span>.</span><span>.</span>
  </div>
</div>
