<div class="project-gallery-container">
  {{ range $index, $item := . }}


  <div
    class="gallery-item {{ if gt $index 1 }}hide-mob{{ end }}"
    item-index="{{ $index }}"
  >
    <img src="{{ $item.image | absURL }}" alt="" />
    <span class="hover"></span>
    <span class="legend">{{ $item.legend | safeHTML }}</span>
  </div>

  {{ end }}

</div>
<button class="show-more-btn c-buttons c-buttons__primary o-animation-animated">
  VER MÁS
</button>
