<section class="projects-block show-on-scroll">
  <div class="o-container o-padding o-animation-animated">
    <h2 class="projects-block__title o-font-18 o-animation-animated">
      {{ .title }}<i></i>
    </h2>
    {{- partial "slider-project.html" .cards -}}

  </div>
</section>
