<div class="project-detail-container">
  <div class="project-detail-quote">
    <img
      class="js-lazy-img"
      data-lazy="{{ "/img/components/project-detail/quotes.svg" | absURL }}"
      alt=""
    />
    <div>
      <h2 class="quote">{{ .quote }}</h2>
      <span class="author">{{ .author }}</span>
    </div>
  </div>

  <div class="project-detail-content">
    <div class="left-content-container">
      {{ range .left_content }}

      <div class="left-content-block">
        <h3>{{ .title }}</h3>
        <p>{{ .text | safeHTML }}</p>
      </div>

      {{ end }}

    </div>

    <div class="right-content-container">
      <div class="right-content-images">
        {{ range .right_content.images }}

        <img src="{{ . | absURL }}" alt="" /> {{ end }}

      </div>
      <span class="legend">{{ .right_content.legend | safeHTML }}</span>
    </div>

    {{ with .down_content }}

    <div class="down-content-container">
      {{ range . }}

      <div class="down-content-block">
        <h3>{{ .title }}</h3>
        <p>{{ .text | safeHTML }}</p>
      </div>

      {{ end }}

    </div>
    {{ end }}

  </div>
</div>
