<section
  class="c-slider__content services-slider show-on-scroll {{ .servicesClass }}"
>
  <div class="o-header__wrapper">
    <h2
      class="o-font-h2 o-animation-animated o-header__title u-text-color-black"
    >
      {{- .title -}}

    </h2>
    <p
      class="c-title-and-content__content o-animation-animated o-header__subtitle"
    >
      {{- .subtitle -}}

    </p>
  </div>
  {{ with .slider }}

  <div class="c-slider__content type-2">
    <div class="c-slider__slider" id="services-slider">
      {{ range . }}

      <div class="c-slider__slide">
        {{- partial "cards.html" . -}}

      </div>
      {{ end }}

    </div>
    <div class="c-slider__wrapper slider-wrap wrap-arrow">
      <div
        class="slick-custom slick-custom--arrow-prev bounce-horizontal"
      ></div>
      <div
        class="slick-custom slick-custom--arrow-next bounce-horizontal"
      ></div>
    </div>
  </div>
  {{ end }}

</section>
