<section class="c-slider__content show-on-scroll c-slider-blog">
  <div class="o-header__wrapper o-header__wrapper--absolute">
    <h2 class="o-font-h2 o-animation-animated o-header__title {{ .classText }}">
      {{- .title -}}

    </h2>
    <p
      class="c-title-and-content__content o-animation-animated o-header__subtitle {{ .classText }}"
    >
      {{- .subtitle -}}

    </p>
  </div>
  {{ with .slider }}

  <div class="c-slider__content type-1">
    <div class="c-slider__slider" id="slider-blog">
      {{ range . }}

      <div class="c-slider__slide c-slider-blog__slide {{ .classSlide }}">
        <div class="c-slider-blog__wrapper">
          <div class="c-slider-blog__box-info">
            <span class="c-slider-blog__date">{{- .date -}}</span>
            <h2 class="c-slider-blog__title {{ .classText }}">
              {{- .title -}}

            </h2>
            <p class="c-slider-blog__subtitle {{ .classText }}">
              {{- .subtitle -}}

            </p>
            <a
              href="{{- .link.url -}}"
              class="c-buttons c-buttons__primary c-slider-blog__button"
            >
              {{- .link.text -}}

            </a>
          </div>
          <div
            class="js-image-add-animation c-slider-blog__image o-animation-animated"
          >
            <img
              data-lazy="{{- .image | absURL -}}"
              alt=""
              width="360"
              height="231"
            />
          </div>
        </div>
      </div>
      {{ end }}

    </div>
    <div class="c-slider__wrapper slider-wrap wrap-arrow">
      <div
        class="slick-custom slick-custom--arrow-prev bounce-horizontal"
      ></div>
      <div
        class="slick-custom slick-custom--arrow-next bounce-horizontal"
      ></div>
    </div>
  </div>
  {{ end }}

</section>
