{{ if eq .type "1" }}

<div class="tabs-container">
  <span class="gray-bar"></span>
  {{ range $index, $tab := .tabs }}

  <div tab-id="{{ $tab.id }}" class="tab {{ if eq $index 0 }}active{{ end }}">
    <h4>{{ $tab.name }}</h4>
    <span class="black-bar"></span>
  </div>
  {{ end }}

</div>
{{ else if eq .type "2" }}

<div class="tabs-container tabs-container__contact">
  {{ range $index, $tab := .tabs }}

  <div tab-id="{{ $tab.id }}" class="tab {{ if eq $index 0 }}active{{ end }}">
    <h4>{{ $tab.name }}</h4>
  </div>
  {{ end }}

</div>
{{ end }}
