{{ define "main" }}

<section class="p-404 o-padding">
  <div class="o-container o-padding">
    <div class="c-breadcrumbs u-relative">
      <a href="/">Inicio</a>
      <span>/</span>
      404
    </div>
  </div>

  <img
    class="p-404__image"
    src="{{ "/img/commons/logo-404.svg" | absURL }}"
    alt=""
  />
  <h1 class="p-404__title">UPSI!</h1>
  <p class="p-404__text">
    No fue posible cargar la página, pero te recomendamos las siguientes
    secciones que te pueden interesar.
  </p>
  <div class="p-404__blocks">
    <a
      href="/"
      class="p-404__block p-404__block--custom o-animation o-animation-hover-float"
    >
      <img
        class="p-404__block-image"
        src="{{ "/img/commons/ico-ready.svg" | absURL }}"
        alt=""
      />
      <h2
        class="p-404__block-title p-404__block-title--custom u-none@sm u-none@md"
      >
        volver al inicio
      </h2>
      <strong class="p-404__block-link p-404__block-link--custom u-none@xs"
        >volver al inicio ></strong
      >
    </a>
    <a
      href="/proyectos"
      class="p-404__block o-animation o-animation-hover-float"
    >
      <h2 class="p-404__block-title">proyectos</h2>
      <p class="p-404__block-text">
        Revisa nuestro portafolio con los trabajos que hemos realizado para
        nuestros clientes
      </p>
      <span class="p-404__block-link u-none@xs">ver más ></span>
    </a>
    <a
      href="/servicios"
      class="p-404__block o-animation o-animation-hover-float"
    >
      <h2 class="p-404__block-title">servicios</h2>
      <p class="p-404__block-text">
        Nuestros servicios entregan soluciones digitales concretas acorde a los
        objetivos de negocio
      </p>
      <span class="p-404__block-link u-none@xs">ver más ></span>
    </a>
    <a href="/blog" class="p-404__block o-animation o-animation-hover-float">
      <h2 class="p-404__block-title">blog</h2>
      <p class="p-404__block-text">
        Mantente al tanto de los avances digitales más importantes de la
        actualidad
      </p>
      <span class="p-404__block-link u-none@xs">ver más ></span>
    </a>
  </div>
</section>
{{ end }}
