{{ define "main" }}
 {{ with .Params.banner }}

<section class="c-slider__content type-1 p-home__banner">
  {{- partial "link-listo.html" . -}}
{{ with .slider }}

  <div class="c-slider__slider" id="slider-home-banner">
    {{ range . }}

    <div class="c-slider__slide u-relative">
      {{ if .imageBackground }}

      <img
        src="{{ .imageBackground | absURL }}"
        class="js-mask-add-animation p-home__banner-mask o-animation-animated {{ .classBackground }}"
        alt=""
        width="360"
        height="601"
      />
      {{ else }}

      <div class="p-home__banner-mask {{ .classBackground }}"></div>
      {{ end }}

      <div class="p-home__banner-wrapper {{ .wrapperClass }}">
        <div
          class="js-box-info-add-animation p-home__banner-box-info o-animation-animated"
        >
          <span class="p-home__banner-tag {{ .classColorText }}"
            >{{- .case -}}</span
          >
          <h1
            class="p-home__banner-title {{ .titleClass }} {{ .classColorText }}"
          >
            {{- .title | safeHTML -}}

          </h1>
          <p
            class="p-home__banner-subtitle {{ .subtitleClass }} u-none@xs {{ .classColorText }}"
          >
            {{- .subtitle | safeHTML -}}

          </p>
          <a
            href="{{- .link.url -}}"
            class="js-button-add-animation c-buttons c-buttons__outline-primary p-home__banner-button o-animation-animated"
            >{{- .link.text -}}</a
          >
        </div>
        <div
          class="js-image-add-animation p-home__banner-image {{ .imageClass }} o-animation-animated"
        >
          <img
            width="100"
            height="100"
            src="{{ .image | absURL }}"
            src=""
            alt=""
          />
        </div>
        <div
          class="js-image-add-animation p-home__banner-image-mobile {{ .imageClass }} o-animation-animated"
        >
          <img
            width="100"
            height="100"
            src="{{ .imageMobile | absURL }}"
            src=""
            alt=""
          />
        </div>
      </div>
    </div>
    {{ end }}

  </div>
  <div class="c-slider__wrapper slider-wrap wrap-arrow">
    <div class="slick-custom slick-custom--arrow-prev bounce-horizontal"></div>
    <div class="slick-custom slick-custom--arrow-next bounce-horizontal"></div>
  </div>
  {{ end }}

</section>
{{ end }}
 {{ with .Params.servicios }}
 {{ partial "services-slider.html" . }}

{{ end }}
 {{ with .Params.proyectos }}

<section
  class="c-slider__content p-home__projects p-home__slider show-on-scroll"
>
  <div class="o-header__wrapper o-header__wrapper--projects">
    <h2
      class="o-font-h2 o-animation-animated p-home__projects-title o-header__title"
    >
      {{- .title -}}

    </h2>
    <p
      class="c-title-and-content__content o-animation-animated p-home__projects-subtitle o-header__subtitle"
    >
      {{- .subtitle -}}

    </p>
  </div>
  {{ with .slider }}

  <div class="c-slider__content type-1">
    <div
      class="c-slider__slider p-home__projects-slider"
      id="slider-home-projects"
    >
      {{ range . }}

      <div class="c-slider__slide c-slider__slide--projects {{ .classSlide }}">
        <div class="p-home__slider-wrapper p-home__slider-wrapper--projects">
          <div
            class="js-box-info-add-animation p-home__slider-box-info p-home__slider-box-info--projects o-animation-animated"
          >
            <span
              class="p-home__slider-tag p-home__slider-tag--projects u-text-color-white"
              >{{- .case -}}</span
            >
            <h2
              class="p-home__slider-title p-home__slider-title--projects u-text-color-white"
            >
              {{- .title | safeHTML -}}

            </h2>
            <p
              class="p-home__slider-subtitle p-home__slider-subtitle--projects u-text-color-white"
            >
              {{- .subtitle | safeHTML -}}

            </p>
            <a
              href="{{- .link.url -}}"
              class="js-button-add-animation c-buttons c-buttons__outline-primary p-home__slider-button p-home__slider-button--projects o-animation-animated"
              >{{- .link.text -}}</a
            >
          </div>
          <div
            class="js-image-add-animation p-home__slider-image p-home__slider-image--projects o-animation-animated"
          >
            <img
              class=" {{ .imageClass }}"
              src="{{- .imageDesktop | absURL -}}"
              alt=""
            />
            <!-- <img
              class="u-none@md u-none@sm"
              src="{{- .imageMobile | absURL -}}"
              alt=""
            /> -->
          </div>
        </div>
      </div>
      {{ end }}

    </div>
    <div class="c-slider__wrapper slider-wrap wrap-arrow">
      <div
        class="slick-custom slick-custom--arrow-prev bounce-horizontal"
      ></div>
      <div
        class="slick-custom slick-custom--arrow-next bounce-horizontal"
      ></div>
    </div>
  </div>
  {{ end }}

  <a
    href="{{- "/proyectos/" | absURL -}}"
    class="p-home__projects-verTodos c-buttons c-buttons__primary o-animation-animated"
    >Ver todos</a
  >
</section>
{{ end }}
 {{- partial "block-listo.html" -}}
 {{ with .Params.clientes }}

<section class="p-home__clients show-on-scroll">
  <div class="o-header__wrapper">
    <h2 class="o-animation-animated o-font-h2 o-header__title">
      {{- .title -}}

    </h2>
    <p
      class="o-animation-animated c-title-and-content__content o-header__subtitle"
    >
      {{- .subtitle -}}

    </p>
    <ol class="o-animation-animated p-home__clients-lists">
      {{ range .clientes }}

      <li class="p-home__clients-list">
        <div class="p-home__clients-link">
          <img
            data-lazy="{{- .image | absURL -}}"
            class="js-lazy-img p-home__clients-image"
            src=""
            alt=""
            width="106"
            height="106"
          />
        </div>
      </li>
      {{ end }}

    </ol>
    <div class="p-home__clients-buttons">
      <button
        class="js-expand-lists c-buttons c-buttons__primary o-animation-animated"
      >
        cargar más
      </button>
    </div>
  </div>
</section>
{{ end }}
 {{ with $.Site.Data.blog.blog }}

{{- partial "slider-blog.html" . -}}
{{ end }}
 {{ with .Params.nosotros }}

<section class="p-home__we show-on-scroll">
  <img
    class="js-lazy-img p-home__we-mask o-animation-animated"
    data-lazy="{{ "/img/pages/home/background-nosotros.png" | absURL }}"
    alt=""
    width="2880"
    height="650"
  />
  <div class="p-home__we-wrapper">
    <div class="p-home__we-text">
      <h2
        class="p-home__we-title o-animation-animated o-font-h2 u-text-color-white"
      >
        {{- .title -}}

      </h2>
      <p
        class="p-home__we-subtitle o-animation-animated c-title-and-content u-text-color-white"
      >
        {{- .subtitle -}}

      </p>
    </div>
    <div class="p-home__we-buttons o-animation-animated">
      <a
        href="{{- .linkMeet.url -}}"
        class="c-buttons c-buttons__secondary p-home__we-button"
        >{{- .linkMeet.text -}}</a
      >
      <a
        href="{{- .linkWork.url -}}"
        class="c-buttons c-buttons__outline-primary p-home__we-button"
        >{{- .linkWork.text -}}</a
      >
    </div>
  </div>
</section>
{{ end }}
 {{ end }}
