<div class="p-contacto__wrapper p-contacto__banner-bottom o-padding">
  <div
    class="p-contacto__inner p-contacto__contact o-animation-animated show-on-scroll"
  >
    {{- partial "tabs.html" .Params.tabs -}}

    <div class="tabs-content-container">
      {{ $contact := .Params.contact.title }}

      {{ range $index, $value := where $.Site.Data.equipo.equipos "contacto" true }}

      <div
        tab-id="{{- .pais -}}-contact"
        class="tab-content {{ if eq $index 0 }} active {{ end }}"
      >
        <h2 class="p-contacto__title u-none@sm u-none@md">{{ $contact }}</h2>
        <p class="p-contacto__text">
          Cuéntanos tus ideas
        </p>
        <div class="p-contacto__container">
          <div class="p-contacto__info">
            <div class="p-contacto__info-content">
              <h3 class="p-contacto__info-title">{{- $value.nombre -}}</h3>
              <h4 class="p-contacto__info-subtitle">{{- $value.cargo -}}</h4>
              <p class="p-contacto__info-text">{{- $value.informacion -}}</p>
            </div>
          </div>
          <div class="p-contacto__contact-lists o-col">
            <a
              class="o-col__cell o-col__cell--1/3@md o-col__cell--1/2@sm"
              href="mailto:{{- $value.email -}}"
            >
              <div
                class="p-contacto__contact-list o-animation-animated o-animation-hover-float"
              >
                <div class="p-contacto__contact-list-icon">
                  <img
                    src="{{ "/img/pages/contactos/ico-mail.svg" | absURL }}"
                    alt=""
                  />
                </div>
                {{- $value.email -}}

              </div>
            </a>
            <a
              class="o-col__cell o-col__cell--1/3@md o-col__cell--1/2@sm"
              href="tel:{{- $value.phone.phone -}}"
            >
              <div
                class="p-contacto__contact-list o-animation-animated o-animation-hover-float"
              >
                <div class="p-contacto__contact-list-icon">
                  <img
                    src="{{ "/img/pages/contactos/ico-phone.svg" | absURL }}"
                    alt=""
                  />
                </div>
                {{- $value.phone.text -}}

              </div>
            </a>
            <a class="o-col__cell o-col__cell--1/3@md o-col__cell--1/2@sm" target="_blank" href="{{ $value.ubicacion.gmaps }}">
                <div class="p-contacto__contact-list o-animation-animated o-animation-hover-float">
                    <div class="p-contacto__contact-list-icon">
                        <img src="{{ "/img/pages/contactos/ico-market.svg" | absURL }}" alt="" />
                    </div>
                    {{- $value.ubicacion.direccion | safeHTML -}}

                </div>
            </a>
          </div>
        </div>
      </div>
      {{ end }}

    </div>
  </div>

  {{ with .Params.form }}

  <div class="p-contacto__inner show-on-scroll">
    <div class="p-contacto__form o-animation-animated">
      <h2 class="p-contacto__title">{{- .title -}}</h2>
      <p class="p-contacto__text">{{ .text | safeHTML }}</p>
      <div class="success" style="display: none;">
        <h2 style="padding:5px 0 ">Su solicitud ha sido enviada con exito.</h2>
      </div>
      <div class="o-box__wrapper o-box__wrapper--form-width">
        <form action="" id="form_contacto">
          <div class="c-form">
            <div data-section="1">
              <div class="js-form__validate o-col">
                <div
                  class="c-form__group o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm"
                >
                  <div class="c-form__mask">
                    <input
                      class="c-form__input"
                      type="text"
                      autocomplete="on"
                      placeholder=""
                      id="name"
                      name="name"
                    />
                    <label class="c-form__label">
                      <small>Nombre</small>
                    </label>
                  </div>
                  <!-- <span>ingresa un nombre válido</span> -->
                </div>
                <div
                  class="c-form__group o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm"
                >
                  <div class="c-form__mask">
                    <input
                      class="c-form__input"
                      type="text"
                      autocomplete="on"
                      placeholder=""
                      id="email"
                      name="email"
                    />
                    <label class="c-form__label">
                      <small>Email</small>
                    </label>
                  </div>
                  <!-- <span>Ingresa un email válido</span> -->
                </div>
                <div class="c-form__group o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm">
                  <div class="c-form__mask">
                    <input
                      class="c-form__input"
                      type="text"
                      autocomplete="off"
                      placeholder=""
                      id="subject"
                      name="subject"
                    />
                    <label class="c-form__label">
                      <small>Asunto</small>
                    </label>
                  </div>
                  <!-- <span>Ingresa un asunto válido</span> -->
                </div>
                <div class="c-form__group o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm">
                    <div class="c-form__mask">
                        <input class="c-form__input" type="tel" autocomplete="off" placeholder="" id="phone"
                            name="phone" />
                        <label class="c-form__label">
                            <small>Teléfono</small>
                        </label>
                    </div>
                    <!-- <span>Ingresa un asunto válido</span> -->
                </div>
                <div class="c-form__group">
                  <div class="c-form__mask">
                    <textarea
                      class="c-form__textarea"
                      name="message"
                      id="message"
                      cols="30"
                      rows="6"
                    ></textarea>
                    <label class="c-form__label">
                      <small>Mensaje</small>
                    </label>
                  </div>
                  <!-- <span>Ingresa un mensaje válido</span> -->
                </div>
                <input
                  type="hidden"
                  name="g-recaptcha-response"
                  id="g-recaptcha-response"
                />
                <input type="hidden" name="type" id="type" />
                <div class="c-form__button">
                  <a
                    id="send-contact"
                    href="javascript:void(0);"
                    class="js-validate-form o-animation-animated o-font-button c-buttons c-buttons__tertiary"
                  >
                    <strong>enviar</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div></div>
    </div>
  </div>
  {{ end }}

</div>
