{{ with .Params.trayectoria }}

<section class="p-nosotros__trayectoria o-padding show-on-scroll u-relative">
  <img
    class="p-nosotros__border p-nosotros__border--trayectoria"
    src="{{ "/img/pages/nosotros/img-border-trayectoria.png" | absURL }}"
    alt=""
    width="2517"
    height="110"
  />
  <div class="o-col">
    <div
      class="o-animation-animated o-col__cell o-col__cell--1/2@md u-order-2@md o-col__cell--1/2@sm u-order-2@sm"
    >
      <div class="p-nosotros__trayectoria-content">
        <h2
          class="o-animation-animated p-nosotros__subtitle p-nosotros__trayectoria-text"
        >
          {{ .text | safeHTML }}

        </h2>
      </div>
    </div>
    <div
      class="o-animation-animated o-col__cell o-col__cell--1/2@md u-order-1@md o-col__cell--1/2@sm u-order-1@sm u-relative"
    >
      <img
        class="p-nosotros__trayectoria-image"
        src="{{ .image | absURL }}"
        alt=""
      />
    </div>
  </div>
</section>
{{ end }}
 {{ with .Params.experimentado }}

<section class="p-nosotros__experimentado o-padding show-on-scroll u-relative">
  <img
    class="p-nosotros__border p-nosotros__border--experimentado"
    src="{{ "/img/pages/nosotros/img-border-experimentado.png" | absURL }}"
    alt=""
    width="1440"
    height="49"
  />
  <div class="o-col">
    <div
      class="o-animation-animated o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm"
    >
      <div class="p-nosotros__experimentado-content">
        <h2
          class="o-animation-animated p-nosotros__subtitle p-nosotros__experimentado-text"
        >
          {{ .text | safeHTML }}

        </h2>
      </div>
    </div>
    <div
      class="o-animation-animated o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm u-relative"
    >
      <img
        class="p-nosotros__experimentado-image"
        src="{{ .image | absURL }}"
        alt=""
      />
    </div>
  </div>
</section>
{{ end }}
 {{ with .Params.pasion }}

<section class="p-nosotros__pasion o-padding show-on-scroll u-relative">
  <img
    class="p-nosotros__border p-nosotros__border--pasion"
    src="{{ "/img/pages/nosotros/img-border-pasion.png" | absURL }}"
    alt=""
    width="1440"
    height="52"
  />
  <div class="o-col">
    <div
      class="o-animation-animated o-col__cell o-col__cell--1/2@md u-order-2@md o-col__cell--1/2@sm u-order-2@sm"
    >
      <div class="p-nosotros__pasion-content">
        <h2
          class="o-animation-animated p-nosotros__subtitle p-nosotros__pasion-text"
        >
          {{ .text | safeHTML }}

        </h2>
      </div>
    </div>
    <div
      class="o-animation-animated o-col__cell o-col__cell--1/2@md u-order-1@md o-col__cell--1/2@sm u-order-1@sm u-relative"
    >
      <img
        class="p-nosotros__pasion-image"
        src="{{ .image | absURL }}"
        alt=""
      />
    </div>
  </div>
</section>
{{ end }}

<!-- {{ with .Params.impulsamos }}

<section class="p-nosotros__impulsamos o-padding show-on-scroll">
  <h2 class="o-animation-animated p-nosotros__title-primary u-text-center">
    {{ .title | safeHTML }}

  </h2>
  <div class="p-nosotros__wrapper">
    <div class="p-nosotros__impulsamos-content o-col">
      <div
        class="o-animation-animated p-nosotros__impulsamos-content-text o-col__cell o-col__cell--1/2@md"
      >
        {{ range .text }}

        <p class="o-animation-animated p-nosotros__text">{{ . }}</p>
        {{ end }}

      </div>
      <div
        class="o-animation-animated p-nosotros__impulsamos-content-image o-col__cell o-col__cell--1/2@md"
      >
        <img src="{{ .image | absURL }}" alt="" />
      </div>
    </div>
  </div>
</section>
{{ end }}
 {{ with .Params.hacemos }}

<section class="p-nosotros__hacemos o-padding show-on-scroll">
  <h2 class="o-animation-animated p-nosotros__title-primary u-text-center">
    {{ .title | safeHTML }}

  </h2>
  <div class="p-nosotros__wrapper">
    <div class="p-nosotros__hacemos-content o-col">
      <div
        class="o-animation-animated p-nosotros__hacemos-content-image o-col__cell o-col__cell--1/2@md u-order-2@xs u-order-1@sm"
      >
        <div class="p-nosotros__hacemos-boxes">
          {{ range .boxes }}

          <div class="{{ .boxClass }} p-nosotros__hacemos-box">
            <h3 class="p-nosotros__hacemos-box-title">{{- .title -}}</h3>
            {{ range .text }}

            <p class="p-nosotros__hacemos-box-text">{{ . }}</p>
            {{ end }}

          </div>
          {{ end }}

        </div>
      </div>
      <div
        class="o-animation-animated p-nosotros__hacemos-content-text o-col__cell o-col__cell--1/2@md u-order-1@xs u-order-2@sm"
      >
        <h3 class="p-nosotros__title-secondary">{{ .subtitle }}</h3>
        {{ range .text }}

        <p class="o-animation-animated p-nosotros__text">{{ . }}</p>
        {{ end }}

      </div>
    </div>
  </div>
</section>
{{ end }}
 {{ with .Params.full }}

<section class="p-nosotros__full o-padding show-on-scroll">
  <div class="p-nosotros__wrapper">
    <h2 class="o-animation-animated p-nosotros__title-secondary">
      {{- .title -}}

    </h2>
    <p class="o-animation-animated p-nosotros__text">
      {{- .text | safeHTML -}}

    </p>
    <div class="o-animation-animated p-nosotros__datos-lists">
      {{ range .boxes }}

      <div class="p-nosotros__datos-list">
        <h3 class="p-nosotros__datos-list-title {{ .titleClass }} js-count">
          {{ if .addPlus }} + {{ end }}<span>{{ .value }}</span>
        </h3>
        <div class="p-nosotros__datos-list-content">
          <h4>{{ .title }}</h4>
          <p class="p-nosotros__datos-list-text">{{ .text | safeHTML }}</p>
        </div>
      </div>
      {{ end }}

    </div>
  </div>
</section>
{{ end }} -->

<section class="p-nosotros__multisection">
  {{ with .Params.tabs }}
 {{- partial "tabs.html" . -}}
 {{ end }}

  <div class="tabs-content-container">
    <div tab-id="team" class="tab-content active">
      {{ with .Params.equipo }}

      <section class="p-nosotros__equipo o-padding show-on-scroll">
        <div class="p-nosotros__wrapper">
          <h2
            class="o-animation-animated p-nosotros__title-primary u-text-center u-none@xs"
          >
            {{- .title -}}

          </h2>
          <div class="p-nosotros__equipo-inner o-animation-animated">
            <div class="p-nosotros__equipo-lists">
              {{ range $index, $value := where $.Site.Data.equipo.equipos "isorganigrama" true }}

              <div
                class="object p-nosotros__equipo-list p-nosotros__equipo-list-{{ $index }} {{ if $value.active }} is-active {{ end }}"
                data-value="{{ $value.parallax }}"
              >
                <img
                  class="o-animation-animated p-nosotros__equipo-list-image"
                  src="{{- $value.image | absURL -}}"
                  alt=""
                  width="117"
                  height="117"
                />
                <div
                  class="o-animation-animated p-nosotros__equipo-list-content"
                >
                  <h3 class="p-nosotros__equipo-list-name">
                    {{ $value.nombre }}

                  </h3>
                  <h4 class="p-nosotros__equipo-list-role">
                    {{ $value.cargo }}

                  </h4>
                  <p class="p-nosotros__equipo-list-email">
                    <img
                      src="{{ "img/commons/ico-mail.svg" | absURL }}"
                      alt=""
                      width="12"
                      height="14"
                    />
                    {{ $value.email }}

                  </p>
                </div>
              </div>
              {{ end }}

            </div>
          </div>
        </div>
      </section>
      {{ end }}

    </div>
    <div tab-id="work" class="tab-content">
      <section class="p-nosotros__wrapper p-nosotros__banner-bottom o-padding">
        {{ with .Params.beneficios }}

        <section class="p-nosotros__beneficios show-on-scroll">
          <div class="p-nosotros__wrapper">
            <h2 class="o-animation-animated p-nosotros__title-secondary">
              {{- .title -}}

            </h2>
            <div class="o-animation-animated p-nosotros__beneficios-lists">
              {{ range .boxes }}

              <div class="p-nosotros__beneficios-list">
                <div class="p-nosotros__beneficios-list-icon">
                  <img src="{{- .icon | absURL -}}" alt="" />
                </div>
                <div class="p-nosotros__beneficios-list-content">
                  <h3 class="p-nosotros__beneficios-list-title">
                    {{ .title }}

                  </h3>
                  <p class="p-nosotros__beneficios-list-text">
                    {{ .text | safeHTML }}

                  </p>
                </div>
              </div>
              {{ end }}

            </div>
          </div>
        </section>
        {{ end }}
 {{ with .Params.postula }}

        <div id="work-to-us" class="p-nosotros__inner show-on-scroll">
          <div class="p-nosotros__form o-animation-animated">
            <h2 class="o-animation-animated p-nosotros__title-secondary">
              {{- .title -}}

            </h2>
            <p class="o-animation-animated p-nosotros__text">
              {{ .text | safeHTML }}

            </p>
            <div class="success" style="display: none;">
              <h2 style="padding:5px 0 ">
                Su solicitud ha sido enviada con exito.
              </h2>
            </div>
            <div class="o-box__wrapper o-box__wrapper--form-width">
              <form action="" id="form_trabaja_con_nosotros">
                <div class="c-form">
                  <div data-section="1">
                    <div class="js-form__validate o-col">
                      <div
                        class="c-form__group o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm"
                      >
                        <div class="c-form__mask">
                          <input
                            id="name"
                            name="name"
                            class="c-form__input"
                            type="text"
                            autocomplete="on"
                            placeholder=""
                          />
                          <label class="c-form__label">
                            <small>Nombre</small>
                          </label>
                        </div>
                        <!-- <span>ingresa un nombre válido</span> -->
                      </div>
                      <div
                        class="c-form__group o-col__cell o-col__cell--1/2@md o-col__cell--1/2@sm"
                      >
                        <div class="c-form__mask">
                          <input
                            id="email"
                            name="email"
                            class="c-form__input"
                            type="text"
                            autocomplete="on"
                            placeholder=""
                          />
                          <label class="c-form__label">
                            <small>Email</small>
                          </label>
                        </div>
                        <!-- <span>Ingresa un email válido</span> -->
                      </div>
                      <div class="c-form__group">
                        <div class="c-form__mask">
                          <textarea
                            class="c-form__textarea"
                            name="message"
                            id="message"
                            cols="30"
                            rows="6"
                          ></textarea>
                          <label class="c-form__label">
                            <small>Mensaje</small>
                          </label>
                        </div>
                        <!-- <span>Ingresa un mensaje válido</span> -->
                      </div>
                      <div class="c-form__group o-col__cell">
                        <div class="c-form__mask">
                          <input
                            id="file"
                            name="file"
                            class="c-form__file"
                            type="file"
                          />
                          <label for="file" class="c-form__label-file">
                            <small>Adjunta tu cv</small><i></i>
                          </label>
                        </div>
                        <!-- <span>Ingresa un email válido</span> -->
                        <small class="c-form__text-format"
                          >* Formato (.docx,.pdf, .ppt, .pptx,)</small
                        >
                      </div>
                      <input
                        type="hidden"
                        name="g-recaptcha-response"
                        id="g-recaptcha-response"
                      />

                      <div class="c-form__button">
                        <a
                          id="send"
                          href="javascript:void(0);"
                          class="js-validate-form o-animation-animated o-font-button c-buttons c-buttons__tertiary"
                        >
                          <strong>enviar</strong>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div></div>
          </div>
        </div>
        {{ end }}

      </section>
      {{ with .Params.ofertas }}

      <section class="p-nosotros__ofertas o-padding show-on-scroll">
        <div class="p-nosotros__ofertas-wrapper u-relative">
          <img
            class="p-nosotros__ofertas-image"
            src="{{- .image | absURL -}}"
            alt=""
          />
          <div class="p-nosotros__ofertas-inner">
            <div class="p-nosotros__ofertas-content">
              <h2 class="o-animation-animated p-nosotros__title-secondary">
                {{ .title }}

              </h2>
              <p class="o-animation-animated p-nosotros__text">
                {{ .text | safeHTML }}

              </p>
            </div>
            <div class="o-animation-animated p-nosotros__ofertas-links">
              <a
                href="{{- .linkLinkedin.url | absURL -}}"
                class="p-nosotros__ofertas-link c-buttons c-buttons__tertiary"
                target="blank"
                >{{ .linkLinkedin.text }}</a
              >
              <a
                href="{{- .linkGetonboard.url | absURL -}}"
                class="p-nosotros__ofertas-link c-buttons c-buttons__tertiary"
                target="blank"
                >{{ .linkGetonboard.text }}</a
              >
            </div>
          </div>
        </div>
      </section>
      {{ end }}

    </div>
  </div>
</section>

{{ with $.Site.Data.blog.blog }}
 {{- partial "slider-blog.html" . -}}
{{ end }}

{{ with .Params.listo }}
 {{- partial "block-listo.html" . -}}
{{ end }}
