<!-- {{ if .Params.tabs }}
{{ partial "tabs.html" .Params.tabs }}

<div class="tabs-content-container">
  {{ $tabs_content := slice .Params.web_content .Params.app_content .Params.develop_content }}

  {{ range $index, $tab := .Params.tabs.tabs }}

  <div
    tab-id="{{ $tab.id }}"
    class="tab-content {{ if eq $index 0 }}active{{ end }}"
  >
    <div class="content-flex-container">
      {{ range (index $tabs_content $index) }}
 {{ partial "cards.html" . }}

      {{ end }}

    </div>
  </div>
  {{ end }}

</div>
{{ end }} -->

<div class="tabs-content-container">
  <div class="tab-content active">
    <div class="o-container o-padding content-flex-container">
      {{ range .Params.web_content }}
 {{ partial "cards.html" . }}
 {{ end }}

    </div>
  </div>
</div>

{{ with .Params.servicios }}
 {{ partial "services-slider.html" . }}
{{ end }}

{{ with .Params.listo }}
{{- partial "block-listo.html" . -}}
{{ end }}
