<div class="o-container p-servicios__wrapper o-padding">
  {{ with .Params.informacion }}

  <div class="p-servicios__col-informacion">
    <h2 class="p-servicios__title">{{ .title | safeHTML }}</h2>
    <p class="p-servicios__text">{{ .text }}</p>
  </div>
  {{ end }}
 {{ with .Params.servicios }}

  <div class="p-servicios__col-servicios p-servicios__boxes">
    {{ range  . }}

    <a
      class="p-servicios__box {{ .link.class }}"
      href="{{ .link.url | absURL }}"
    >
      <span>{{- .link.text | safeHTML -}}</span>
      <img width="100" height="67" src="{{- .link.ico | absURL -}}" alt="" />
    </a>
    {{ end }}

  </div>
  {{ end }}

</div>
