.t-servicios-level2 {
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1162px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
    }
  }
  &__title {
    font-size: 18px;
    margin-bottom: 35px;
    text-transform: uppercase;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
    }
    i {
      @include xs {
        width: 16px;
        height: 8px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        background-image: url(/img/commons/ico-arrow-down.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &__block {
    margin: 35px 0;
    @include xs {
      margin-top: 40px;
      margin-bottom: 10px;
    }
  }
  &__description {
    background-color: $white;
    padding-top: 70px;
    @include xs {
      padding-top: 60px;
    }
    img {
      margin-right: auto;
      margin-left: auto;
    }
    &-image {
      width: 320px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      img {
        position: absolute;
        bottom: 0;
        &:first-of-type {
          left: 0;
        }
        &:last-of-type {
          right: 0;
        }
      }
    }
  }
  &__list {
    position: relative;
    color: $black;
    font-family: $font-b;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 40px;
    padding-left: 20px;
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 7px;
      height: 7px;
      transform: rotate(45deg);
      background-color: $purple2;
    }
  }
  &__services {
    padding-top: 70px;
    max-width: 1260px;
    padding-left: 60px;
    padding-right: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include xs {
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
