.t-servicios-level3 {
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1162px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
    }
  }
  &__title {
    font-size: 18px;
    margin-bottom: 35px;
    text-transform: uppercase;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
    }
    i {
      @include xs {
        width: 16px;
        height: 8px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        background-image: url(/img/commons/ico-arrow-down.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &__block {
    margin: 35px 0;
    @include xs {
      margin-top: 40px;
      margin-bottom: 10px;
    }
  }
  &__description {
    background-color: $white;
    padding-top: 70px;
    padding-bottom: 25px;
    @include xs {
      padding-top: 60px;
    }
    img {
      margin-right: auto;
      margin-left: auto;
    }
    &-image {
      width: 320px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }
  &__metodology {
    background-color: $white;
    padding-top: 70px;
    padding-bottom: 70px;
    @include xs {
      padding-top: 60px;
      padding-bottom: 30px;
    }
  }
  &__text,
  &__list {
    color: $gray4;
    font-family: $font-b;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.2;
    b,
    strong {
      font-weight: bold;
    }
  }
  &__lists {
    padding-left: 10px;
  }
  &__list {
    padding-bottom: 20px;
  }
  &__list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  &__list-image {
    padding: 5px;
  }
  &__tools {
    background-color: $white;
    padding-top: 10px;
    padding-bottom: 70px;
    @include xs {
      padding-bottom: 30px;
    }
  }
  &__list-tools {
    margin-left: -20px;
    margin-right: -20px;
  }
  &__list-tool {
    padding-left: 20px;
    padding-right: 20px;
    &-image {
      height: 160px;
      display: flex;
      align-items: center;
    }
    &-title {
      color: $gray4;
      font-family: $font-b;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 19px;
      margin-bottom: 10px;
    }
    &-text {
      color: $black;
      font-family: $font-b;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 14px;
    }
  }
}
