.t-servicios-level1 {
  &__services {
    margin-top: -60px;
    max-width: 1260px;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include xs {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
