.o-header {
  &__wrapper {
    width: 100%;
    max-width: 1198px;
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
    &--absolute,
    &--projects {
      position: absolute;
      left: 0;
      right: 0;
      top: 40px;
      z-index: 1;
    }
    &--projects {
      @include xs {
        position: static;
        margin-bottom: 25px;
      }
    }
  }
  &__title {
    position: absolute;
    top: 0;
    left: 20px;
    .is-visible & {
      @extend .o-animation-fade-in-up;
    }
    @include xs {
      position: static;
    }
  }
  &__subtitle {
    max-width: 440px;
    text-align: center;
    margin: 0 auto;
    color: $purple2;
    @include xs {
      text-align: left;
      max-width: inherit;
    }
    .is-visible & {
      @extend .o-animation-fade-in-left;
    }
  }
}
