.p-404 {
  background-color: #74c9de;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 70px;
  @include xs {
    padding-bottom: 30px;
  }
  &__image {
    margin: 0 auto 40px;
    @include xs {
      max-width: 265px;
      margin-bottom: 20px;
    }
  }
  &__title {
    font-size: 36px;
    font-weight: bold;
    color: $black;
    margin-bottom: 15px;
    @include xs {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  &__text {
    font-size: 18px;
    color: $black;
    margin-bottom: 60px;
    @include xs {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  &__blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include xs {
      flex-direction: column;
    }
  }
  &__block {
    position: relative;
    background-color: rgba($color: $white, $alpha: 0.9);
    border-radius: 5px;
    margin: 0 18px;
    min-height: 150px;
    padding: 30px 15px 40px 15px;
    text-align: center;
    flex: 1;
    max-width: 250px;
    text-decoration: none;
    @include xs {
      max-width: inherit;
      min-height: 80px;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      padding-right: 40px;
      padding-top: 15px;
      padding-bottom: 10px;
      text-align: left;
    }
    &:after {
      @include xs {
        content: '';
        width: 13px;
        height: 13px;
        position: absolute;
        top: calc(50% - 6.5px);
        right: 20px;
        background-color: transparent;
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
        transform: rotate(-45deg);
      }
    }
    &--custom {
      padding-top: 0;
      padding-bottom: 0;
      @include xs {
        background-color: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    &-image {
      width: 117px;
      margin: 0 auto;
      position: relative;
      top: -12px;
      @include xs {
        width: 82px;
        margin: 0;
      }
    }
    &-title {
      text-transform: uppercase;
      font-size: 21px;
      color: $purple2;
      padding: 7px 0;
      @include xs {
        font-size: 16px;
        padding-top: 0;
      }
      &--custom {
        @include xs {
          padding-bottom: 0;
          margin-left: 10px;
        }
      }
    }
    &-text {
      color: $purple1;
      font-family: $font-b;
      font-size: 12px;
      padding-bottom: 10px;
    }
    &-link {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      color: $black;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      &--custom {
        color: $black;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 25px;
      }
    }
    &-link-arrow {
      @include xs {
        display: none;
      }
    }
  }
}
