.p-contacto {
  &__wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  &__banner-bottom {
    background-image: url(/img/pages/contactos/banner-contact.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    @include xs {
      background-image: none;
    }
  }
  &__inner {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  &__contact {
    background-color: $white;
    //margin-top: -50px;
    padding: 40px 60px;
    border-radius: 0 12px 0 0;
    position: relative;
    margin-bottom: 60px;
    opacity: 0;
    &.is-visible {
      @extend .o-animation-fade-in-up;
    }
    @include sm {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include xs {
      margin-top: 0;
      width: calc(100% + 40px);
      left: -20px;
      padding-bottom: 0;
    }
  }
  &__title {
    color: $black;
    font-family: $font-a;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &__text {
    color: $gray4;
    font-family: $font-b;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 16px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @include xs {
      flex-direction: column;
    }
  }
  &__info {
    width: 320px;
    display: flex;
    @include xs {
      margin-bottom: 30px;
    }
  }
  &__info-image {
    width: 82px;
    height: 103px;
  }
  &__info-content {
    //padding-left: 15px;
  }
  &__info-title {
    color: $gray4;
    font-family: $font-b;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 5px;
  }
  &__info-subtitle {
    color: $gray4;
    font-family: $font-b;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 5px;
  }
  &__info-text {
    color: $black;
    font-family: $font-b;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14px;
  }
  &__contact-lists {
    margin-left: -10px;
    margin-right: -10px;
    justify-content: flex-end;
    a{
        text-decoration: none;
    }
    @include md {
      width: calc(100% - 330px);
    }
    @include sm {
      width: calc(100% - 310px);
    }
    @include xs {
        br{
            display: none;
        }
      width: 100%;
      margin: 0;
    }
  }
  &__contact-list {
    margin: 0 10px;
    border: 1px solid #b6b3bd;
    border-radius: 10px;
    background-color: #f6f6f6;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @include xs {
      margin: 0 0 30px 0;
      flex-direction: row;
      min-height: 50px;
      justify-content: flex-start;
    }
  }
  &__contact-list-icon {
    width: 50px;
    height: 42px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include xs {
      width: 75px;
      margin-bottom: 0;
    }
  }
  &__form {
    max-width: 530px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-left;
    }
  }
}
