.p-home {
  &__banner {
    position: relative;
    height: 635px;
    width: 100%;
    overflow: hidden;
    @include xs {
      height: auto;
    }
    &-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
    }
    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      @include xs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
      }
      &--movistar {
        max-width: 720px;
        padding-bottom: 100px;
        @include xs {
          padding-top: 85px;
          padding-bottom: 75px;
        }
      }
      &--default {
        max-width: 1198px;
        padding-top: 150px;
        align-items: flex-start;
        margin-left: auto;
        @include xs {
          align-items: center;
          margin-left: 0;
          padding-top: 85px;
          padding-bottom: 75px;
        }
        // @include xs {
        //   flex-direction: column;
        //   height: auto;
        // }
      }
    }
    &-box-info {
      position: relative;
      flex: 0 0 413px;
      text-align: right;
      z-index: 1;
      .p-home__banner-wrapper--default & {
        flex: 0 0 640px;
        @include only-sm {
          flex: 0 0 440px;
        }
      }
      @include xs {
        width: calc(100% - 40px);
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 20px;
        order: 2;
        text-align: center;
        flex: 1 !important;
      }
    }
    &-tag {
      font-family: $font-a;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 10px;
      @include xs {
        font-size: 14px;
      }
    }
    &-title {
      font-size: 52px;
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 5px;
      @include only-sm {
        font-size: 38px;
      }
      @include xs {
        max-width: 260px;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      br {
        @include xs {
          display: none;
        }
      }
      &--default {
        font-weight: bold;
      }
      &--movistar {
        font-family: $font-a;
      }
    }
    &-subtitle {
      font-family: $font-a;
      font-size: 21px;
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 30px;
      &--default {
        font-family: $font-a;
      }
      &--movistar {
        font-family: $font-a;
      }
    }
    &-button {
      margin-bottom: 45px;
      @include xs {
        margin-bottom: 0;
      }
    }
    &-image {
      @include xs {
        order: 1;
        display: none;
      }
      img {
        position: relative;
      }
      &--floatBottomRight {
        //position: absolute;
        //bottom: 0;
        //right: 0;
        @include xs {
          position: static;
          margin-bottom: 10px;
        }
        img {
          @include only-md {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40%;
          }
          @include only-sm {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40%;
          }
          @include xs {
            height: auto;
          }
        }
      }
      &--movistar {
        @include xs {
          margin-bottom: 10px;
        }
        img {
          @include xs {
            height: 340px;
          }
        }
      }
    }
    &-image-mobile {
      display: none;
      @include xs {
        order: 1;
        display: block;
      }
      img {
        position: relative;
        max-width: 420px;
        width: 90%;
      }
      &--floatBottomRight {
        @include xs {
          position: static;
          margin-bottom: 10px;
        }
        img {
          @include xs {
            height: auto;
          }
        }
      }
      &--movistar {
        @include xs {
          margin-bottom: 10px;
        }
        img {
          @include xs {
            height: 340px;
          }
        }
      }
    }
  }
  &__slider {
    padding: 0;
    &-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 1198px;
      padding: 0 20px;
      justify-content: space-between;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      @include xs {
        align-items: flex-end;
        flex-direction: column;
        height: auto;
      }
      &--projects {
        @media (max-width: 550px) {
          flex-direction: row;
          padding-top: 20px;
          padding-bottom: 150px;
          align-items: inherit;
        }
        @media (min-width: 551px) and (max-width: 768px) {
          flex-direction: row;
          padding-top: 20px;
          padding-bottom: 30px;
          align-items: inherit;
        }
        // @include xs {
        //   flex-direction: row;
        //   padding-top: 20px;
        //   padding-bottom: 30px;
        //   align-items: inherit;
        // }
      }
    }
    &-box-info {
      position: relative;
      flex: 0 0 413px;
      flex: 0 0 55%;
      text-align: left;
      //padding-right: 100px;
      padding-left: 90px;
      padding-top: 180px;
      z-index: 1;
      @include xs {
        padding-left: 0;
        padding-right: 100px;
        order: 2;
        text-align: left;
        padding-top: 0;
      }
      &--projects {
        position: static;
        @media (max-width: 550px) {
          padding-right: 0;
          flex: 0 0 100%;
          order: 1;
        }
        @media (min-width: 551px) and (max-width: 768px) {
          padding-right: 0;
          flex: 0 0 calc(100% - 300px);
          order: 1;
        }
        // @include xs {
        //   padding-right: 0;
        //   flex: 0 0 70%;
        //   order: 1;
        // }
      }
    }
    &-tag {
      font-family: $font-a;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 10px;
      &--projects {
        @include xs {
          display: inline-block;
        }
      }
    }
    &-title {
      font-family: $font-a;
      font-size: 48px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 5px;
      @include xs {
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 10px;
        br {
          display: none;
        }
      }
      &--projects {
        @include xs {
          font-size: 24px;
          font-weight: 300;
          margin-bottom: 15px;
          text-transform: none;
        }
      }
    }
    &-subtitle {
      font-family: $font-b;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 30px;
      &--projects {
        @include xs {
          display: none;
        }
      }
    }
    &-button {
      margin-bottom: 190px;
      &--projects {
        @include xs {
          margin-bottom: 0;
        }
      }
    }
    &-image {
      @include xs {
        order: 1;
        width: calc(100% + 40px);
        left: 20px;
        position: relative;
      }
      img {
        position: relative;
      }
      &--projects {
        @include xs {
          flex: 0 0 30%;
          order: 2;
          position: relative;
          align-self: flex-end;
          /*nuevo*/
          position: inherit;
          /**/
          //top: 60px;
        }
        img {
          position: absolute;
          width: 45%;
          max-width: max-content;
          @include xs {
            top: inherit;
            max-width: inherit;
            width: auto;
          }
        }
        &-center {
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          @include xs {
            top: inherit;
            transform: inherit;
            bottom: 0;
          }
        }
        &-bottom {
          bottom: 0;
          right: 0;
          @include xs {
            bottom: -20px;
            height: 170px;
          }
        }
      }
    }
  }
  &__projects {
    @include xs {
      background-color: $white;
      padding-top: 55px;
    }
    &-title,
    &-subtitle {
      color: $white;
    }
    &-title {
      @include xs {
        color: $purple1;
      }
    }
    &-subtitle {
      @include xs {
        color: $purple2;
      }
    }
    &-slider {
      @include xs {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &-verTodos {
      display: none;
      @include xs {
        display: block;
        margin: 0 auto 20px;
      }
    }
  }
  &__clients {
    padding: 135px 0 177px 0;
    @include xs {
      padding: 30px 0;
    }
    &-lists {
      margin-top: 70px;
      width: 100%;
      list-style-type: none;
      display: grid;
      max-width: 856px;
      margin-left: auto;
      margin-right: auto;
      grid-gap: 44px;
      grid-template-columns: repeat(auto-fit, minmax(106px, 1fr));
      row-gap: 30px;
      opacity: 0;
      @include xs {
        margin-top: 20px;
        grid-template-columns: repeat(auto-fit, minmax(82px, 1fr));
        row-gap: 24px;
        grid-column-gap: 22.5px;
        max-height: 318px;
        overflow: hidden;
      }
      .is-expand & {
        max-height: 700px;
      }
      .is-visible & {
        @extend .o-animation-fade-in-up;
        @extend .o-animation-delay-1;
      }
    }
    &-list {
      width: 100%;
    }
    &-link {
    }
    &-image {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
      @include xs {
        width: 82px;
        height: 82px;
      }
      &:hover {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        filter: none;
      }
    }
    &-buttons {
      display: none;
      margin-top: 54px;
      @include xs {
        display: block;
        text-align: center;
      }
      .is-expand & {
        height: auto;
        @include xs {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  &__blog {
    &-box-info {
      flex: 0 0 465px;
      padding-right: 55px;
      @include xs {
        flex: 1;
        padding-right: 30px;
        padding-left: 30px;
      }
    }
    &-button {
      margin-bottom: 90px;
      @include xs {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &-image {
      margin-bottom: 40px;
    }
  }
  &__we {
    position: relative;
    min-height: 325px;
    overflow: hidden;
    padding: 90px;
    @include xs {
      padding: 130px 50px 80px 50px;
    }
    &-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
      .is-visible & {
        @extend .o-animation-zoom-in-image;
        @extend .o-animation-duration-5;
      }
    }
    &-wrapper {
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @include xs {
        flex-direction: column;
      }
    }
    &-text {
      flex: 0 0 50%;
    }
    &-title {
      margin-bottom: 15px;
      opacity: 0;
      @include xs {
        text-align: center;
        font-weight: bold;
      }
      .is-visible & {
        @extend .o-animation-fade-in-up;
      }
    }
    &-subtitle {
      font-family: $font-a;
      font-size: 26px;
      line-height: 30px;
      max-width: 420px;
      opacity: 0;
      @include xs {
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 40px;
      }
      .is-visible & {
        @extend .o-animation-fade-in-left;
      }
    }
    &-buttons {
      flex: 0 0 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      opacity: 0;
      @include xs {
        flex-direction: column;
        flex: 1;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      .is-visible & {
        @extend .o-animation-fade-in-up;
        @extend .o-animation-delay-1;
      }
    }
    &-button {
      margin: 0 30px;
      @include xs {
        margin-bottom: 30px;
      }
    }
  }
}
