.p-nosotros {
  &__wrapper {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  &__inner {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  &__banner-bottom {
    background-image: url(/img/pages/nosotros/img-postula.png);
    background-repeat: no-repeat;
    background-position: bottom 53px right;
    @include xs {
      background-image: none;
    }
  }
  &__title-primary {
    color: $purple2;
    font-family: $font-a;
    font-size: 36px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 40px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
    }
    @include xs {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 35px;
      br {
        display: none;
      }
    }
  }
  &__title-secondary {
    color: $black;
    font-family: $font-a;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: uppercase;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
    }
  }
  &__text {
    color: $black;
    font-family: $font-b;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.2;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
      @extend .o-animation-delay;
    }
    @include xs {
      font-size: 12px;
    }
  }
  &__subtitle {
    font-family: $font-a;
    font-size: 22px;
    font-weight: 300;
    color: $purple2;
    line-height: 32px;
    @include xs {
      font-size: 18px;
    }
  }
  &__trayectoria,
  &__experimentado,
  &__pasion {
    position: relative;
    @include xs {
      padding-top: 70px;
    }
    &-content {
      margin-left: auto;
      margin-right: auto;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      z-index: 3;
      @include xs {
        position: static;
        transform: inherit;
      }
    }
    &-text {
      .is-visible & {
        @extend .o-animation-delay;
      }
    }
    &-image {
      position: absolute;
      @include xs {
        width: 320px;
        position: relative;
        margin: 0 auto;
      }
    }
  }
  &__trayectoria {
    $spaceimagemobile: -105px;
    z-index: 1;
    min-height: 335px;
    &-content {
      max-width: 550px;
      margin-bottom: -60px;
      @include xs {
        max-width: 312px;
        margin-bottom: #{$spaceimagemobile + 100};
      }
      br {
        @include sm {
          display: none;
        }
        @include xs {
          display: none;
        }
      }
    }
    &-text {
      @include only-sm {
        padding-left: 15px;
      }
      .is-visible & {
        @extend .o-animation-fade-in-right;
      }
    }
    &-image {
      top: -165px;
      @include xs {
        top: inherit;
        bottom: -105px;
      }
    }
  }
  &__experimentado {
    $spaceimagemobile: -33px;
    background-color: $light-blue1;
    z-index: 2;
    min-height: 400px;
    &-content {
      max-width: 465px;
      margin-bottom: 151px;
      @include xs {
        max-width: 312px;
        margin-bottom: #{$spaceimagemobile + 40};
      }
    }
    &-text {
      @include only-sm {
        padding-right: 15px;
      }
      .is-visible & {
        @extend .o-animation-fade-in-left;
      }
    }
    &-image {
      top: -98px;
      right: 1px;
      z-index: 2;
      @include xs {
        top: inherit;
        right: inherit;
        bottom: $spaceimagemobile;
      }
    }
  }
  &__pasion {
    $spaceimagemobile: -31px;
    background-color: $green3;
    z-index: 3;
    min-height: 454px;
    &-content {
      max-width: 458px;
      margin-bottom: 172px;
      @include xs {
        max-width: 312px;
        margin-bottom: #{$spaceimagemobile + 20};
      }
    }
    &-text {
      @include only-sm {
        padding-left: 15px;
      }
      .is-visible & {
        @extend .o-animation-fade-in-right;
      }
    }
    &-image {
      top: 21px;
      left: 202px;
      @include only-lg {
        left: 0;
      }
      @include sm {
        left: 0;
      }
      @include xs {
        top: inherit;
        left: inherit;
        bottom: $spaceimagemobile;
      }
    }
  }
  &__border {
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
    max-width: inherit;
    &--trayectoria {
      top: -108px;
      height: 110px;
    }
    &--experimentado {
      z-index: 2;
      top: -37px;
      height: 49px;
    }
    &--pasion {
      z-index: 3;
      top: -35px;
      height: 52px;
    }
    @include xs {
      display: none;
    }
  }

  &__impulsamos {
    background-color: $white;
    padding-top: 50px;
    padding-bottom: 60px;
    @include xs {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
  &__impulsamos-content {
    align-items: center;
  }
  &__impulsamos-content-text {
    padding-right: 50px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-left;
      @extend .o-animation-delay;
    }
    @include xs {
      padding-right: 0;
    }
  }
  &__impulsamos-content-image {
    padding-left: 50px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
      @extend .o-animation-delay;
    }
    @include xs {
      padding-top: 45px;
      padding-left: 0;
    }
  }
  &__hacemos {
    padding-top: 60px;
    padding-bottom: 70px;
    @include xs {
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }
  &__hacemos-content {
    align-items: center;
  }
  &__hacemos-content-text {
    padding-left: 50px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
      @extend .o-animation-delay;
    }
    @include xs {
      padding-left: 0;
    }
  }
  &__hacemos-content-image {
    padding-right: 50px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-left;
      @extend .o-animation-delay;
    }
    @include xs {
      padding-right: 0;
    }
  }
  &__hacemos-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 34px;
    grid-row-gap: 14px;
    @include xs {
      display: flex;
      flex-direction: column;
    }
  }
  &__hacemos-box {
    min-height: 168px;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include xs {
      min-height: 90px;
      padding: 15px 15px 0 15px;
      align-items: flex-start;
    }
  }
  &__hacemos-box-title {
    color: $white;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-family: $font-a;
    font-size: 18px;
    font-weight: bold;
    @include xs {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  &__hacemos-box-text {
    font-family: $font-b;
    color: $white;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    @include xs {
      text-align: left;
    }
  }
  &__multisection {
    padding-top: 1;
    z-index: 3;
    position: relative;
    background-color: $gray2;
    overflow: hidden;
  }
  &__full {
    background-color: $white;
    padding-top: 45px;
    padding-bottom: 30px;
    @include xs {
      padding-top: 22px;
    }
  }
  &__datos-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 120px 0;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
      @extend .o-animation-delay;
    }
    @include xs {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 40px 0 35px 0;
    }
  }
  &__datos-list {
    flex: 1;
    min-height: 190px;
    border-left: 1px solid #979797;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:last-of-type {
      border-right: 1px solid #979797;
      @include xs {
        border: none;
      }
    }
    @include xs {
      border: none;
      flex-direction: row;
      min-height: inherit;
      align-items: flex-start;
      margin-bottom: 25px;
      max-width: 280px;
      width: 100%;
    }
    h4 {
      color: $black;
      font-family: $font-a;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 25px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
  &__datos-list-title {
    font-family: $font-a;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 10px;
    @include xs {
      width: 130px;
      text-align: right;
      padding-right: 10px;
    }
  }
  &__datos-list-content {
    text-align: center;
    @include xs {
      text-align: left;
      width: calc(100% - 130px);
    }
  }
  &__datos-list-text {
    color: $black;
    font-family: $font-b;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
    @include xs {
      text-align: left;
      padding-bottom: 0;
    }
  }
  &__equipo {
    padding-top: 60px;
    padding-bottom: 60px;
    @include xs {
      padding-top: 35px;
      padding-bottom: 0;
    }
  }
  &__equipo-inner {
    width: 100%;
    max-width: 804px;
    height: 290px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
      @extend .o-animation-delay;
    }
    @include xs {
      height: auto;
    }
  }
  &__equipo-lists {
    @include xs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15px;
    }
  }
  &__equipo-list {
    position: absolute;
    cursor: pointer;
    @include xs {
      position: static;
      transform: none !important;
    }
    &-0,
    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8,
    &-9,
    &-10,
    &-11,
    &-12,
    &-13 {
      @include xs {
        width: 100% !important;
        height: auto !important;
      }
    }
    /*fernandois*/
    &-0 {
      z-index: 1;
      width: 74px;
      height: 74px;
      left: 0;
      top: 134px;
    }
    /*barrera*/
    &-1 {
      z-index: 2;
      width: 89px;
      height: 89px;
      left: 67px;
      top: 87px;
    }
    /*estevez*/
    &-2 {
      z-index: 3;
      width: 81px;
      height: 82px;
      left: 91px;
      bottom: 12px;
    }
    /*gonzalez*/
    &-3 {
      z-index: 4;
      width: 84px;
      height: 83px;
      left: 143px;
      top: 45px;
    }
    /*rodriguez*/
    &-4 {
      z-index: 5;
      width: 117px;
      height: 116px;
      left: 162px;
      top: 124px;
    }
    /*aguilera*/
    &-5 {
      z-index: 6;
      width: 134px;
      height: 134px;
      left: 241px;
      top: 0;
    }
    /*valdes*/
    &-6 {
      z-index: 7;
      width: 168px;
      height: 168px;
      left: 276px;
      bottom: 0;
    }
    /*rozas*/
    &-7 {
      z-index: 8;
      width: 119px;
      height: 119px;
      right: 281px;
      top: 15px;
    }
    /*villagran*/
    &-8 {
      z-index: 9;
      width: 111px;
      height: 111px;
      right: 236px;
      bottom: 50px;
    }
    /*jalilie*/
    &-9 {
      z-index: 10;
      width: 93px;
      height: 93px;
      right: 174px;
      top: 45px;
    }
    /*jaque*/
    &-10 {
      z-index: 11;
      width: 93px;
      height: 93px;
      right: 135px;
      bottom: 25px;
    }
    /*mendoza*/
    &-11 {
      z-index: 12;
      width: 82px;
      height: 82px;
      right: 83px;
      top: 70px;
    }
    /*montero*/
    &-12 {
      z-index: 13;
      width: 70px;
      height: 70px;
      right: 54px;
      bottom: 42px;
    }
    /*acevedo*/
    &-13 {
      z-index: 14;
      width: 69px;
      height: 70px;
      right: 0;
      bottom: 104px;
    }
    &:hover,
    &.is-active {
      z-index: 20;
      .p-nosotros__equipo-list-content {
        opacity: 1 !important;
        visibility: visible;
      }
    }
  }
  &__equipo-list-content {
    position: absolute;
    width: 195px;
    height: 105px;
    background-color: rgba($color: #8364be, $alpha: 0.9);
    bottom: 0;
    right: 0;
    padding: 19px 8px 10px 8px;
    text-align: center;
    border-radius: 0px 5px 5px 5px;
    transform: translateX(100%) translateY(50%);
    opacity: 0;
    visibility: hidden;
    transform: opacity 0.3s, visibility 0.3s;
    @include xs {
      background: none;
      position: static;
      width: 100%;
      height: auto;
      transform: none;
      opacity: 1;
      visibility: visible;
      padding: 20px 0 40px 0;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      border-style: solid;
      border-width: 0 20px 10px 0;
      border-color: transparent rgba($color: #8364be, $alpha: 0.9) transparent
        transparent;
      @include xs {
        border: none;
      }
    }
    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }
  &__equipo-list-image {
    opacity: 0.4;
    &:hover,
    .is-active & {
      transform: scale(1.1);
      opacity: 1;
    }
    @include xs {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__equipo-list-image:hover ~ {
    opacity: 1 !important;
  }
  &__equipo-list-name,
  &__equipo-list-role,
  &__equipo-list-email {
    color: $white;
    font-family: $font-a;
    @include xs {
      color: $purple2;
    }
  }

  &__equipo-list-name {
    font-size: 18px;
  }
  &__equipo-list-role {
    font-family: $font-b;
    font-size: 12px;
    margin-bottom: 8px;
  }
  &__equipo-list-email {
    font-family: $font-b;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    img {
      margin-right: 5px;
      @include xs {
        display: none;
      }
    }
    @include xs {
      padding-bottom: 0;
    }
  }
  &__beneficios {
    padding-top: 45px;
    @include xs {
      padding-top: 30px;
    }
  }
  &__beneficios-lists {
    display: flex;
    width: calc(100% - 34px);
    width: calc(100% + 34px);
    margin-left: -17px;
    margin-right: -17px;
    min-height: 180px;
    margin-top: 30px;
    margin-bottom: 60px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
      @extend .o-animation-delay;
    }
    @include xs {
      width: 100%;
      min-height: 95px;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
  &__beneficios-list {
    background-color: $white;
    margin: 0 17px;
    flex: 1;
    text-align: center;
    padding: 25px;
    @include xs {
      padding: 20px 15px;
      margin: 0 0 15px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__beneficios-list-icon {
    height: 55px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
    @include xs {
      height: 48px;
      width: 50px;
      margin-bottom: 0;
    }
  }
  &__beneficios-list-content {
    @include xs {
      width: calc(100% - 50px);
      padding-left: 25px;
    }
  }
  &__beneficios-list-title {
    color: $gray4;
    font-family: $font-a;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    margin-bottom: 5px;
    @include xs {
      text-align: left;
    }
  }
  &__beneficios-list-text {
    color: $black;
    font-family: $font-a;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
    @include xs {
      text-align: left;
      padding-bottom: 0;
    }
  }
  &__ofertas {
    background-color: $white;
    min-height: 234px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    @include xs {
      border: none;
      min-height: 230px;
      padding-top: 25px;
      padding-bottom: 15px;
    }
  }
  &__ofertas-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  &__ofertas-image {
    @include xs {
      display: none;
    }
  }
  &__ofertas-inner {
    max-width: 700px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include xs {
      position: inherit;
      transform: inherit;
      flex-direction: column;
      align-items: center;
    }
  }
  &__ofertas-content {
    width: 300px;
    @include xs {
      width: 100%;
      text-align: center;
    }
  }
  &__ofertas-links {
    width: 100%;
    max-width: 360px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-up;
      @extend .o-animation-delay;
    }
    @include xs {
      max-width: inherit;
      flex-direction: column;
      align-items: center;
    }
  }
  &__ofertas-link {
    margin: 10px;
  }
  &__form {
    max-width: 530px;
    opacity: 0;
    .is-visible & {
      @extend .o-animation-fade-in-left;
    }
  }
}
