#p-Proyectos {
  .tabs-content-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 50px;

    .content-flex-container {
      display: flex;
      flex-wrap: wrap;
    }

    .c-cards__projects {
      width: calc((100% - 80px) / 3);
      margin-bottom: 60px;

      &:not(:nth-child(3n)) {
        margin-right: 40px;
      }
    }

    .c-cards__projects-content {
      padding-bottom: 140px;
    }

    @media (max-width: 1200px) {
      width: calc(100% - 80px);
    }

    @include sm {
      .c-cards__projects {
        width: calc((100% - 40px) / 2);

        &:not(:nth-child(3n)) {
          margin-right: 0;
        }

        &:nth-child(odd) {
          margin-right: 40px;
        }
      }
    }

    @include xs {
      width: calc(100% - 40px);

      .c-cards__projects {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 30px;
      }

      .c-cards__projects-content {
        padding-bottom: 30px;
      }

      .c-cards__projects-image {
        max-width: 38%;
        overflow: hidden;
        display: flex;
        justify-content: center;

        img {
          max-height: 250px;
          max-width: none;
        }
      }
    }
  }
}
