.p-servicios {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 50px;
    @include xs {
      padding-top: 55px;
      padding-bottom: 155px;
      flex-direction: column;
    }
  }
  &__col-informacion {
    flex: 0 0 320px;
    flex: 0 0 28%;
    @include xs {
      flex: 1;
      padding-bottom: 40px;
    }
  }
  &__col-servicios {
    flex: 0 0 764px;
    flex: 0 0 67%;
  }
  &__title {
    font-family: $font-a;
    font-size: 30px;
    font-weight: 500;
    color: $purple5;
    margin-bottom: 30px;
  }
  &__text {
    font-family: $font-a;
    font-size: 18px;
    font-weight: normal;
    color: $purple5;
  }
  &__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include xs {
      flex-direction: column;
    }
  }
  &__box {
    display: flex;
    flex: 0 0 calc(50% - 22px);
    margin: 0px 0 25px 0;
    border-radius: 12px;
    min-height: 160px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-family: $font-a;
    font-size: 28px;
    font-weight: 300;
    padding-left: 5.8%;
    background-image: url(/img/pages/servicios/ico-arrow-right.svg);
    background-position: center right 13px;
    background-repeat: no-repeat;
    padding-right: 8.7%;
    @include xs {
      flex: 1;
      min-height: 120px;
      margin-bottom: 20px;
    }
  }
}
