$white: #ffffff;
$black: #000000;

$purple1: #3d3747;
$purple2: #3e3a48;
$purple3: #7164bc;
$purple4: #8364be;
$purple5: #280e0e;

$orange1: #f88560;
$orange2: #df4412;
$orange3: #eb7c1f;
$orange4: #f1948a;

$gray1: #d0d0d0;
$gray2: #f6f6f6;
$gray3: #bbb9c3;
$gray4: #505050;
$gray5: #8e889b;
$gray6: #463849;
$gray7: #a39ead;

$yellow1: #f8e184;

$green1: #3fb2a9;
$green2: #00afb2;
$green3: #d9e4d6;

$blue1: #0e3c5f;
$blue2: #3d7ddc;

$light-blue: #32c5ff;
$light-blue1: #99d0e6;

// FONTS
$font-a: 'Saira Condensed', sans-serif;
$font-b: 'Roboto', sans-serif;
$font-c: 'Raleway', sans-serif;

$padding_col: 20px;

$breakpoints: (
  xs: 0px,
  sm: 768px,
  md: 991px,
  lg: 1200px,
);
