<!DOCTYPE html>
<html lang="es">
  {{- partial "head.html" . -}}

  <body class="js-load">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K2TN6F8"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{- partial "overlay.html" -}}
 {{ with .Params.gallery }}

    {{ partial "gallery-slider-modal.html" . }}
 {{ end }}

    {{- partial "preload.html" -}}
 {{- partial "header.html" . -}}

    <main id="p-{{ replace .Title " " "_" }}">
      {{ block "main" . }}
 {{ end }}

    </main>
    {{- partial "footer.html" . -}}

  </body>
</html>
