@mixin xs() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin sm() {
  @media (max-width: 990px) {
    @content;
  }
}

@mixin md() {
  @media (min-width: 991px) {
    @content;
  }
}

@mixin lg() {
  @media (max-width: 1200px) {
    @content;
  }
}

// RANGE
@mixin only-xs() {
  @media (min-width: 0px) and (max-width: 767px) {
    @content;
  }
}

@mixin only-sm() {
  @media (min-width: 768px) and (max-width: 990px) {
    @content;
  }
}

@mixin only-md() {
  @media (min-width: 991px) {
    @content;
  }
}

@mixin only-lg() {
  @media (min-width: 991px) and (max-width: 1200px) {
    @content;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin backgroundOpacity($color, $opacity: 0.3) {
  background-color: $color; /* The Fallback */
  background-color: rgba($color, $opacity);
}
