.u-none {
  display: none !important;
  &\@md {
    @include only-md {
      display: none !important;
    }
  }
  &\@sm {
    @include only-sm {
      display: none !important;
    }
  }
  &\@xs {
    @include only-xs {
      display: none !important;
    }
  }
}

.u-color-orange1 {
  background-color: $orange1;
}

.u-color-yellow1 {
  background-color: $yellow1;
}

.u-color-purple3 {
  background-color: $purple3;
}

.u-color-green1 {
  background-color: $green1;
}

.u-color-green2 {
  background-color: $green2;
}

.u-color-green3 {
  background-color: rgba($color: $green1, $alpha: 0.4);
}

.u-color-gray3 {
  background-color: $gray3;
}

.u-color-gray5 {
  background-color: $gray5;
}

.u-color-gray1 {
  background-color: $gray1;
}

.u-color-orange4 {
  background-color: $orange4;
}

.u-text-color-white {
  color: $white;
}

.u-text-color-black {
  color: $black;
}

.u-text-color-orange2 {
  color: $orange2;
}

.u-text-color-orange3 {
  color: $orange3;
}

.u-text-color-purple2 {
  color: $purple2;
}

.u-text-color-purple4 {
  color: $purple4;
}

.u-text-color-light-blue {
  color: $light-blue;
}

.u-text-color-gray6 {
  color: $gray6;
}

.u-color-blue1 {
  background-color: $blue1;
}

.u-color-gray7 {
  background-color: $gray7;
}

.u-color-blue2 {
  background-color: $blue2;
}

.u-opacity {
  opacity: 0;
}

.u-relative {
  position: relative;
}

.u-text-center {
  text-align: center;
}

.u-overflow {
  overflow: hidden;
}

@media print {
  .u-none\@print {
    display: none !important;
  }
}
