.l-footer {
  width: 100%;
  background-color: $white;
  padding: 60px 0 10px 0;
  @include xs {
    padding: 40px 40px 30px 40px;
  }

  &-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    @include xs {
      flex-direction: column;
    }
  }

  &-logo {
    max-width: 258px;
    width: 100%;
    @include xs {
      margin-bottom: 70px;
    }
  }

  &-menu {
    width: 600px;
    max-width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include xs {
      height: auto;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-row-gap: 20px;
    }
  }

  &-group {
    height: 100%;

    h3 {
      color: $purple2;
      font-family: $font-b;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 14px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    ul {
      li {
        margin-bottom: 15px;

        a {
          color: $purple2;
          font-family: $font-b;
          font-size: 12px;
          font-weight: 400;
          text-decoration: none;
          position: relative;
        }
      }
    }

    &.contact_footer,
    &.partners {
      height: 50%;
    }

    &.fusiona {
      ul {
        li {
          a {
            text-transform: uppercase;
            &:hover {
              &:after {
                transform: scaleX(0.95);
              }
            }
            &:after {
              content: '';
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: $purple2;
              transform: scaleX(0);
              transform-origin: bottom left;
              transition: transform 0.3s;
            }
          }
        }
      }
    }

    &.social_networks {
      ul {
        display: flex;
        justify-content: space-between;
        max-width: 195px;

        li {
          margin: 0 5px;
          &:first-of-type {
            margin-left: 0;
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    &.partners {
      h3 {
        margin-bottom: 15px;
      }
    }

    @include xs {
      height: auto !important;

      &.fusiona {
        grid-row: 1 / 3;
        grid-column: 1;
        align-self: flex-start;
      }

      &.contact_footer {
        grid-row: 1;
        grid-column: 2;
      }

      &.partners {
        grid-row: 2;
        grid-column: 2;
      }

      &.social_networks {
        grid-row: 3;
        grid-column: 1 / 3;

        ul {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          li {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  &-copy {
    color: $purple1;
    font-family: $font-b;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
}
