.l-header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9;
  &-content {
    width: 100%;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px;
    @include xs {
      //padding: 12px 28px 0px 22px;
      padding: 12px 28px 12px 22px;
      box-sizing: border-box;
    }
  }

  &-logo {
    width: 131px;
    height: 39px;
    background: url(/img/commons/css_sprites.png) -108px -10px;
    z-index: 3;
    transition: none;
    @include xs {
      //width: 103px;
    }

    .l-header-menu-logo {
      display: none;
    }
  }

  &-hamburger {
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-right: 44px;

    strong {
      color: $white;
      font-family: $font-a;
      font-size: 18px;
      font-weight: 300;
      margin-right: 10.8px;
    }

    div {
      cursor: pointer;
      width: 44px;
      height: 27px;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;

      @include xs {
        width: 30px;
        height: 25px;
      }

      span {
        background-color: $white;
        background-color: #000000;
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        @include xs {
          height: 4px;
        }
      }

      span:nth-child(1) {
        //animation: outT 0.8s backwards;
        //animation-direction: reverse;

        @include xs {
          //animation: outTMob 0.8s backwards;
        }
      }

      span:nth-child(2) {
        margin: 5px 0;
        margin: 7px 0;
        //animation: outM 0.8s backwards;
        //animation-direction: reverse;

        @include xs {
          margin: 5px 0;
        }
      }

      span:nth-child(3) {
        //animation: outBtm 0.8s backwards;
        //animation-direction: reverse;

        @include xs {
          //animation: outBtmMob 0.8s backwards;
        }
      }
    }
  }

  &-menu {
    position: fixed;
    width: 100%;
    background-color: $gray2;
    height: 100%;
    top: 100vh;
    left: 0;
    right: 0;
    transform: translateX(0%) translateY(100%);
    transition: all 0.3s;
  }

  .navigation {
    color: $purple2;
    font-family: $font-a;
    margin: 100px auto 0 auto;
    width: 100%;
    max-width: 760px;
    position: relative;

    @include xs {
      margin: 85px auto 10px;
      width: 100%;
      height: calc(100vh - 95px);
      overflow-y: scroll;
    }

    ul {
      position: relative;
      width: 380px;

      li {
        position: relative;

        a {
          display: block;
          padding: 22px 1.3em;
          color: $purple2;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 36px;

          @include xs {
            font-size: 30px;
            padding: 16px 40px;
          }
        }

        ul {
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 99%;

          @include xs {
            position: relative;
            visibility: visible;
            left: 0;
            height: 0;
            overflow: hidden;
          }
          li {
            &:first-of-type {
              display: none;
              @include xs {
                display: block;
              }
            }
          }
          a {
            color: $black;
            font-size: 24px;
            text-transform: none;
            padding: 16px 1.3em;

            @include xs {
              font-size: 20px;
              padding: 16px 40px;
            }
          }
        }

        &.has-sub {
          > a:after {
            content: '';
            position: absolute;
            right: 100px;
            background-image: url(/img/header/header-arrow.svg);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
            top: calc(50% - 12px);
            width: 15px;
            height: 24px;

            @include xs {
              transform: rotate(90deg);
              width: 12px;
              height: 19px;
              background-size: contain;
              top: 25px;
            }
          }
        }

        &:hover {
          ul {
            visibility: visible;
          }
        }

        @include xs {
          &.active {
            ul {
              height: auto;
            }
          }
        }
      }
    }

    ul,
    ul li,
    ul ul {
      @include xs {
        width: 100%;
      }
    }

    > ul {
      > li:hover > a,
      > li > a.is-active {
        border-left: 6px solid $black;
        font-weight: bold;
        color: $black;
      }

      @include xs {
        li.has-sub {
          > a {
            border: none;
            font-weight: normal;
            color: inherit;
          }

          &.active {
            > a {
              border-left: 6px solid $black;
              font-weight: bold;
              color: $black;
            }
          }
        }
      }
    }
  }

  &.is-expand-menu {
    .l-header-logo {
      background-position: -10px -101px;
      .l-header-logo-img {
        display: none;
      }
      .l-header-menu-logo {
        display: inline;
      }
    }

    .l-header-menu {
      transform: translateY(-100%);
      z-index: 2;
      @include xs {
        position: absolute;
        position: fixed;
      }
    }

    .l-header-hamburger {
      strong {
        display: none;
      }
      div {
        span {
          background-color: $black;
        }
        span:nth-child(1) {
          animation: inT 0.8s forwards;
          @include xs {
            animation: inTMob 0.8s forwards;
          }
        }
        span:nth-child(2) {
          animation: inM 0.8s forwards;
        }
        span:nth-child(3) {
          animation: inBtm 0.8s forwards;
          @include xs {
            animation: inBtmMob 0.8s forwards;
          }
        }
      }
    }
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(10.8px) rotate(0deg);
  }
  100% {
    transform: translateY(10.8px) rotate(135deg);
  }
}

@keyframes inTMob {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(10.8px) rotate(0deg);
  }
  100% {
    transform: translateY(10.8px) rotate(135deg);
  }
}

@keyframes outTMob {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-10.8px) rotate(0deg);
  }
  100% {
    transform: translateY(-10.8px) rotate(135deg);
  }
}

@keyframes inBtmMob {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-10.8px) rotate(0deg);
  }
  100% {
    transform: translateY(-10.8px) rotate(135deg);
  }
}

@keyframes outBtmMob {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
